/* section-login ============================ */

.section-login {
    padding: 56px 0 0;
    @media (min-width: 992px) {
        padding: 98px 0 0;
    }
}

/* account-sidebar ============================ */

.account-heading {
    margin-bottom: 24px;

    @media (min-width: 992px) {
        margin-bottom: 16px;
    }
}

.account-sidebar-menu {
    --bs-nav-link-padding-y: 4px;
    --bs-nav-link-padding-x: 10px;
    --bs-nav-link-font-size: 22px;
    --bs-nav-link-font-weight: 400;
    --bs-nav-link-color: var(--bs-secondary);
    --bs-nav-link-hover-color: var(--bs-primary);
    --bs-nav-link-disabled-color: #6c757d;
    --theme-nav-horizontal-space-between: 12px;
    position: relative;
    overflow: hidden;
    touch-action: pan-y;
    margin-right: calc(var(--bs-gutter-x) * -0.5);
    margin-left: calc(var(--bs-gutter-x) * -0.5);

    &__wrapper {
        position: relative;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        white-space: nowrap;
        overflow-x: auto;
        margin: 0;
        padding-right: calc(var(--bs-gutter-x) * 0.5);
        padding-left: calc(var(--bs-gutter-x) * 0.5);
        padding-bottom: 12px;

        li {
            position: relative;
            display: inline-block;
            flex: 0 0 auto;

            &:not(:last-child) {
                margin-right: var(--theme-nav-horizontal-space-between);
            }

            a {
                border-radius: 8px;

                &.active {
                    color: var(--bs-primary);
                    background-color: var(--bs-secondary-bg);
                }
            }
        }
    }

    @media (min-width: 992px) {
        --bs-nav-link-padding-y: 2px;
        --bs-nav-link-padding-x: 0;
        --bs-nav-link-font-size: 24px;
        margin-right: 0;
        margin-left: 0;

        &__wrapper {
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            overflow: visible;
            white-space: normal;
            padding-right: 0;
            padding-left: 0;
            padding-bottom: 0;

            li {

                &:not(:last-child) {
                    margin-right: 0 !important;
                }

                a {
                    &::after {
                        content: "";
                        width: 0;
                        position: absolute;
                        border-bottom: 1px solid var(--bs-primary);
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        transition: all .6s;
                        transition-timing-function: cubic-bezier(.6,0,.4,1);
                    }

                    &.active {
                        background-color: initial;
                        
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

/* account-widgets-info ============================ */

.account-content-widget {
    margin-bottom: 48px;

    &__title {
        margin-bottom: 24px;
    }

    p {
        margin-bottom: 8px;
    }

    h5, h6 {
        margin-top: 16px;
    }

    .list-unstyled {

        li {
            padding: 6px 0;
        }
    }
}

.users-wrapper {
    display: flex;
    flex-direction: column;
}

.item-user {
    padding: 24px 0;

    &:not(:last-of-type) {
        border-bottom: 1px solid var(--bs-border-color);
    }

    &__body {

        .row {
            align-items: center;
        }
    }

    &__title {
        font-weight: 500;
    }

    &__status {
        font-weight: 500;
    }

    &__inn {
        margin-top: 12px;
        margin-bottom: 12px;
    }

    &__info {

        p {
            margin-bottom: 8px;
        }
    }

    &__button {

        .btn:not(.collapsed) .span-show,
        .btn.collapsed .span-hide {
            display: none;
        }

        .btn:not(.collapsed) svg {
            transform: rotate(180deg);
        }
    }

    &.user-admin {

        .item-user__body {
            padding: 14px 24px;
            background-color: #F8F8F8;
        }
    }
}

/* File Upload */

.fileUpload {
    padding: 12px 0;
}

.fileUploadItem {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;

    &__icon {
        flex-shrink: 0;
    }

    &__title {
        font-size: 16px;
    }
}

// input-text-custom

.input-text-custom-sm {
    display: block;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: var(--bs-body-color);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding: 0.15rem 0.25rem;
    border-radius: 0;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
}

/* account-widgets-orders ============================ */

.profile-order-card {
    --bs-card-spacer-y: 22px;
    --bs-card-spacer-x: 22px;

    @media (min-width: 992px) {
        --bs-card-spacer-y: 32px;
        --bs-card-spacer-x: 32px;
    }

    &__date {
        color: #ACB2BF;
    }

    .dropdown-card-options {

        .btn {

            &.show,
            &:hover {

                svg .path-bg {
                    fill: #F2F9FF;
                }
            }
        }

        .dropdown-menu {
            --bs-position: end;
            --bs-dropdown-padding-y: 0;
            --bs-dropdown-link-color: var(--bs-body-color);
            --bs-dropdown-link-hover-color: #1A1A16;
            --bs-dropdown-link-hover-bg: #F2F9FF;
            --bs-dropdown-link-active-color: #1A1A16;
            --bs-dropdown-link-active-bg: #F2F9FF;
            --bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
            --bs-dropdown-item-padding-y: 0.875rem;
            --bs-dropdown-item-padding-x: 1rem;
    
            @media (min-width: 992px) {
                --bs-dropdown-min-width: 25rem;
            }
        }
    }
    
    &__heading {
        display: flex;
        flex-direction: column;
        gap: 9px;
        margin-bottom: 12px;

        @media (min-width: 992px) {
            flex-direction: row;
            align-items: center;
        }
    }
    
    &__title {
        font-weight: 400;
        margin-bottom: 0;
    }
    
    &__status {
        font-weight: 500;
    }
    
    &__amount {
        color: #7C7D80;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 12px;
    }
    
    &__pay-status {
        margin-bottom: 22px;
    }
    
    &__status-descr {
        display: flex;
        gap: 9px;
        margin-bottom: 22px;
    
        svg {
            flex-shrink: 0;
        }
    }
    
    &__goods-list {
        
        .swiper-profile-order-card-goods-list {
            margin-left: calc(var(--bs-card-spacer-x) * -1);
            margin-right: calc(var(--bs-card-spacer-x) * -1);
            padding-left: var(--bs-card-spacer-x);
            padding-right: var(--bs-card-spacer-x);
        }
    }
    
    &__more-goods {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 12px;
    }
    
    &__btn-group {
        display: flex;
        flex-wrap: wrap;
        gap: 22px 12px;
        margin-top: 32px;
    
        .btn {
            min-width: 295px;

            @media (max-width: 991px) {
                width: 100%;
            }
        }
    }
}
