/* section-catalog-heading ============================ */

/* section-catalog-body ============================ */

.section-catalog-body {
    margin-bottom: 72px;
}

/* Колонка слева */
/* Колонка слева: Категории */

.catalog-categories-nav {
    --bs-nav-link-color: var(--bs-secondary);
    --bs-nav-link-hover-color: var(--bs-primary);
    display: flex;
    justify-content: start;
}

.catalog-categories-nav .scrollable-wrapper {
    padding: 0 0 12px;
}

.catalog-categories-nav .scrollable-item:not(:last-child) {
    margin-right: 12px;
}

.catalog-categories-nav .nav-link {
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

/* Колонка слева: Фильтры */

#offcanvasSmartFilter {
    width: 100%;
    border-right: none;
}

#offcanvasSmartFilter .offcanvas-top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px 16px;
    margin-bottom: 22px;
}

#offcanvasSmartFilter .offcanvas-top .offcanvas-title {
    color: #1A1A16;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

#offcanvasSmartFilter .offcanvas-top .reset_fltr {
    position: relative;
    display: inline-block;
    color: #474A51;
    font-size: 18px;
    padding-left: 24px;
}

#offcanvasSmartFilter .offcanvas-top .reset_fltr:before {
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Cpath d='M25.2378 7.23767L6.76249 25.713' stroke='%231A1A16' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.81934 7.18066L25.2946 25.656' stroke='%231A1A16' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-size: contain;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#offcanvasSmartFilter .offcanvas-top .del_filter {
    background: transparent;
    border: none;
    padding: 0;
}

.catalog-form-smartfilter__wrapper {
    display: flex;
    flex-direction: column;
}

.bx-filter-parameters-box {
    position: relative;
    margin-bottom: 22px;
}

.bx-filter-popup-result {
    padding: 0 10px;
    white-space: nowrap;
    min-height: 37px;
}

.bx-filter-popup-result.bx-tooltip {
    position: absolute;
    display: none;
    font-size: 12px;
    line-height: normal;
    opacity: 0;
    visibility: visible;
    z-index: 1030;
}

.bx-filter-popup-result.left {
    left: 100%;
    top: -40px;
}

.bx-filter-popup-result.bx-tooltip.left {
    margin-left: 10px;
}

.bx-filter-popup-result .tooltip-inner {
    width: 220px;
    padding: 15px;
    text-align: left;
    text-decoration: none;
    border: 1px solid #ACB2BF;
    border-radius: 0;
    background-color: #fff;
}

.bx-filter-popup-result .tooltip-inner .tooltip-content {
    text-align: center;
    color: #474A51;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 12px;
}

.bx-filter-popup-result.bx-tooltip.left .tooltip-arrow {
    position: absolute;
    top: 50%;
    left: -10px;
    margin-top: -13px;
}

/* collapsed btn */

.btn-filter-parameters {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    padding: 0;
    color: #474A51;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.btn-filter-parameters .btn-filter-parameters__arrow {
    transition: 0.3s ease;
}

.btn-filter-parameters:not(.collapsed) .btn-filter-parameters__arrow {
    transform: rotate(180deg);
}

.filter_flex_box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
}

.filter_param_label {
    display: flex;
    align-items: flex-start;
    gap: 6px;
    color: #474A51;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.catalog-form-smartfilter .btn {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.18px;
    text-transform: lowercase;
}

.bx-filter-input-container {
    border-bottom: 1px solid #ACB2BF;
    padding-left: 32px;
    position: relative;
}

.bx-ft-sub {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 20px;
    margin: auto;
    left: 10px;
    color: #7C7D80;
    font-size: 16px;
    text-transform: lowercase;
}

.bx-filter-parameters-box-container-block input {
    display: block;
    width: 100%;
    height: 30px;
    text-align: left;
    color: #7C7D80;
    font-size: 16px;
    margin: 0;
    padding: 0 6px;
    padding-right: 10px;
    border: transparent;
    border-radius: 0;
    background: #fff;
    outline: none;
}

.price-separator:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='2' viewBox='0 0 12 2' fill='none'%3E%3Cline x1='0.5' y1='1' x2='11.5' y2='1' stroke='%23ACB2BF' stroke-linecap='round'/%3E%3C/svg%3E");
}

/* slider-track */

.bx-ui-slider-track-container {
    margin: 0;
    width: 100%;
    padding: 32px 25px 23px;
}

.bx-ui-slider-track {
    position: relative;
    height: 2px;
    background: #e7e7e7;
}

.bx-ui-slider-part {
    display: none !important;
}

.bx-ui-slider-range,
.bx-ui-slider-pricebar-vd,
.bx-ui-slider-pricebar-vn,
.bx-ui-slider-pricebar-v {
    position: absolute;
    top: 0;
    bottom: 0;
}

.bx-ui-slider-pricebar-vd {
    z-index: 60;
    background: #ACB2BF;
}

.bx-ui-slider-pricebar-vn {
    z-index: 70;
    background: #ACB2BF;
}

.bx-ui-slider-pricebar-v {
    z-index: 80;
    background: #7C7D80;
}

.bx-ui-slider-range {
    z-index: 500;
}

.bx-ui-slider-handle {
    position: absolute;
    border: none;
    background: #7C7D80 !important;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);
    width: 12px;
    height: 12px;
    top: -5px;
}

.bx-ui-slider-handle.left {
    margin-left: -11px;
}

.bx-ui-slider-handle.right {
    margin-right: -11px;
}

.btn-with-collapsing-span.collapsed .span-2,
.btn-with-collapsing-span:not(.collapsed) .span-1 {
    display: none;
}

@media (min-width: 992px) {

    #offcanvasSmartFilter {
        position: relative;
        width: auto;
        border-right: 0;
        visibility: visible;
        transform: translateX(0px);
        transition: none;
        z-index: 900;
    }

    #offcanvasSmartFilter .offcanvas-header {
        display: none;
    }

    #offcanvasSmartFilter .offcanvas-body {
        padding: 0;
        overflow: visible;
    }

    .bx-filter-popup-result.bx-tooltip.in {
        display: block;
        opacity: 1;
    }

    .btn-filter-parameters {
        justify-content: flex-start;
        font-size: 16px;
    }
}

/* Колонка слева: Каталоги */

/* Колонка справа */
/* Колонка справа: Сортировка и Фильтры */

/* Колонка справа: Сетка товаров */

.section-catalog-body__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
}

@media (min-width: 992px) {

    .section-catalog-body {
        margin-bottom: 102px;
    }

    .section-catalog-body .col-lg-20 {
        flex: 0 0 auto;
        width: 22%;
    }

    .catalog-categories-nav .scrollable-container {
        overflow: visible;
        touch-action: inherit;
    }

    .catalog-categories-nav .scrollable-wrapper {
        flex-direction: column;
        align-items: flex-start;
        white-space: normal;
        overflow-x: visible;
        gap: 12px;
        padding: 0;
    }

    .catalog-categories-nav .scrollable-item:not(:last-child) {
        margin-right: 0;
    }

    .section-catalog-body .col-lg-75 {
        flex: 0 0 auto;
        width: 73%;
    }

    .section-catalog-body .offset-lg-5 {
        margin-left: 5%;
    }

    .section-catalog-body__grid {
        grid-template-columns: 1fr 1fr;
        gap: 34px;
    }
}

@media (min-width: 1400px) {

    .section-catalog-body__grid {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 34px;
    }
}

.section-catalog-body__pagination {
    display: flex;
    justify-content: center;
    margin-top: 86px;
}

/* Модалка заказа товара */

.swiperRecommendProduct-next,
.swiperRecommendProduct-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    width: 77px;
    height: 77px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    z-index: 10;

    @media (min-width: 992px) {
        display: flex;
    }
}

.swiperRecommendProduct-next:hover,
.swiperRecommendProduct-prev:hover {
    background-color: rgba(159, 147, 135, 0.80);
}

.swiperRecommendProduct-next.swiper-button-disabled,
.swiperRecommendProduct-prev.swiper-button-disabled {
    opacity: 0.45;
    background-color: transparent;
}

.swiperRecommendProduct-next {
    right: 69px;
    left: auto;
}

.swiperRecommendProduct-next svg {
    margin-left: 10px;
}

.swiperRecommendProduct-prev {
    left: 69px;
    right: auto;
}

.swiperRecommendProduct-prev svg {
    margin-right: 10px;
}

.swiperRecommendProduct .swiper-slide,
.swiperRecommendProduct02 .swiper-slide {
    width: 320px;
    height: auto;

    @media (min-width: 992px) {
        width: 440px;
    }
}

.recommend-item {
    position: relative;
    display: flex;
    height: 100%;
    padding: 12px;
    border: 1px solid var(--bs-border-color);

    &__title {
        font-size: 1rem;
    }

    &__btn {
        padding: 0;
        border: none;

        svg {
            width: 24px;
            height: 24px;
        }
    }

    @media (min-width: 992px) {
        &__title {
            font-size: 1.25rem;
        }

        &__btn {
            svg {
                width: 32px;
                height: 32px;
            }
        }
    }
}