/* FOOTER ============================ */

.footer {
    padding: 22px 0;

    @media (min-width: 992px) {
        padding: 42px 0;
    }
}

/* footer-top */

.footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;
    padding: 0 12px;
    margin-bottom: 34px;

    &__logo img {
        max-width: 83px;
        height: auto;
    }
    
    &__contacts {
        --bs-link-color-rgb: var(--bs-primary-rgb);
        --bs-link-hover-color-rgb: var(--bs-body-color-rgb);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;

        .contacts-link {
            display: inline-flex;
            align-items: center;
            gap: 8px;
            font-family: var(--bs-title-font-family);
            font-size: 24px;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;

            @media (min-width: 992px) {
                &::before {
                    content: "";
                    display: block;
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background-color: var(--bs-secondary);
                }

                &:first-child:before {
                    display: none;
                }
            }

        }

        .link-cooperate {
            display: inline-flex;
            align-items: center;
            gap: 6px;

            svg {
                flex-shrink: 0;
            }
        }
    }
}

/* footer-middle */

.footer-middle {
    max-width: 1244px;
    margin: 0 auto;
    padding: 0 12px;

    &__container {
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid #ACB2BF;
        border-bottom: 1px solid #ACB2BF;
        padding: 32px 0;

        @media (min-width: 992px) {
            padding: 16px 0;
        }
    }
    
    &__col {
        flex-basis: 100%;
        padding: 14px 21px 14px 0;

        @media (min-width: 992px) {
            flex-basis: 50%;
            padding: 14px 21px;
            border-left: 1px solid #ACB2BF;
        }

        @media (min-width: 1200px) {
            flex-basis: 30%;
        }
    
        &:nth-child(1),
        &:nth-child(2) {
            flex-basis: 50%;

            @media (min-width: 1200px) {
                flex-basis: 20%;
            }
        }

        &:first-child {
            @media (min-width: 1200px) {
                border-left-color: transparent;
            }
        }
    }

    &__widget:not(:last-child) {
        margin-bottom: 22px;

        @media (min-width: 992px) {
            margin-bottom: 32px;
        }
    }
    
    &__menu {
        --bs-link-color-rgb: var(--bs-secondary-rgb);
        --bs-link-hover-color-rgb: var(--bs-primary-rgb);
        list-style: none;
        margin: 0;
        padding: 0;

        & > li:not(:last-child) {
            margin-bottom: 20px;
        }
        
        & > li > a {
            display: block;
            font-family: var(--bs-title-font-family);
            font-size: 18px;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.22px;
            text-transform: uppercase;

            @media (min-width: 992px) {
                font-size: 24px;
            }
        }
        
        & .submenu {
            --bs-link-color-rgb: var(--bs-secondary-rgb);
            --bs-link-hover-color-rgb: var(--bs-primary-rgb);
            list-style: none;
            margin: 0;
            padding: 0;
            margin-top: 10px;

            @media (min-width: 992px) {
                margin-top: 12px;
            }

            li:not(:last-child) {
                margin-bottom: 6px !important;
            }
            
            a {
                display: block;
                font-size: 14px;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.16px;

                @media (min-width: 992px) {
                    font-size: 18px;
                }
            }
        }
    }
}

/* footer-bottom */

.footer-bottom {
    max-width: 1504px;
    margin: 22px auto 0;
    padding: 0 12px;

    @media (min-width: 992px) {
        margin-top: 57px;
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        gap: 22px;

        @media (min-width: 992px) {
            gap: 42px;
        }
    }
    
    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 22px;
    }
    
    &__menu {
        --bs-link-color-rgb: var(--bs-secondary-rgb);
        --bs-link-hover-color-rgb: var(--bs-primary-rgb);
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 22px 12px;

        .menu-link {
            display: inline-flex;
            align-items: center;
            gap: 12px;
            font-size: 16px;
            font-weight: 400;
            line-height: normal;

            @media (min-width: 992px) {
                font-size: 18px;
            }

            &::before {
                content: "";
                display: block;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: var(--bs-secondary);
            }

            &:first-child:before {
                @media (min-width: 992px) {
                    display: none;
                }
            }
        }
    }
    
    &__copyright {
        --bs-link-color-rgb: var(--bs-secondary-rgb);
        --bs-link-hover-color-rgb: var(--bs-primary-rgb);
        color: var(--bs-secondary);
        font-size: 12px;
        font-weight: 400;
        line-height: normal;

        @media (min-width: 992px) {
            font-size: 16px;
        }

        a {
            text-decoration: underline;
        }
    }
}

.social-icon-link {
    width: 55px;
    height: 55px;

    &:hover {
        opacity: 0.75;
    }

    @media (max-width:767px) {
        width: 40px;
        height: 40px;
    }

    & > img {
        width: 100%;
        height: 100%;
    }
}

