/* SECTIONS ============================ */

/* section-hero ============================ */

.section-hero {
    margin-bottom: 32px;
    overflow: hidden;

    // old row
    &__row {
        display: flex;
        flex-wrap: wrap;
        gap: 32px 22px;
    }

    // old col
    &__col {
        flex-basis: 100%;
        min-width: 0px;
    }

    @media (min-width: 992px) {
        .hero-col-main {
            width: 70%;
        }

        .hero-col-secondary {
            width: 30%;
        }
    }
}

.swiperHeroSlider {

    &-next,
    &-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        display: none;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        z-index: 10;
    }

    @media (min-width: 992px) {

        &:hover &-next:not(.swiper-button-disabled),
        &:hover &-prev:not(.swiper-button-disabled) {
            display: flex;
        }
    }

    &-next {
        right: 52px;
        left: auto;
    }

    &-prev {
        left: 52px;
        right: auto;
    }

    &-pagination {
        --swiper-pagination-bottom: 12px;
        --swiper-pagination-bullet-width: 50px;
        --swiper-pagination-bullet-height: 2px;
        --swiper-pagination-bullet-border-radius: 0;
    }

    .hero-slider-item {
        img {
            max-width: 100%;
            width: 100%;
            height: auto;
        }
    }
}

.hero-category {
    --bs-link-color-rgb: var(--bs-white-rgb);
    --bs-link-hover-color-rgb: 26, 26, 22;
    position: relative;
    display: block;
    height: 100%;
    overflow: hidden;

    &:hover {
        color: beige;
    }

    @media (max-width: 991px) {
        min-height: 300px;
    }

    img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: all .3s ease;

        @media (min-width: 992px) {
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    &__text {
        position: absolute;
        bottom: 15%;
        left: 25px;
    }

    &__title {
        color: #fff;
        font-size: 26px;
        font-weight: 700;
        letter-spacing: 0.264px;
        margin-bottom: 9px;

        @media (min-width: 992px) {
            font-size: 22px;
        }

        @media (min-width: 1200px) {
            font-size: 32px;
            letter-spacing: 0.32px;
        }
    }

    &__link {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.149px;

        @media (min-width: 992px) {
            font-size: 14px;
        }

        @media (min-width: 1200px) {
            font-size: 18px;
            letter-spacing: 0.18px;
        }
    }
}

// Сложные layout изменения выносим отдельно
@media (min-width: 992px) {

    // old row
    .section-hero__row {
        flex-wrap: nowrap;
    }

    // old col
    .section-hero__col:nth-child(1) {
        flex-basis: 70%;
    }

    // old col
    .section-hero__col:nth-child(2) {
        flex-basis: 30%;
    }
}

/* section-blog-slider ============================ */

.section-blog-slider {
    overflow: hidden;
    margin-bottom: 94px;

    @media (min-width: 992px) {
        margin-bottom: 82px;
    }

    .title {
        text-align: center;
        margin-bottom: 32px;
    }
}

.blog-slider-nav {
    --bs-nav-link-color: var(--bs-secondary);
    --bs-nav-link-hover-color: var(--bs-primary);
    display: flex;
    justify-content: start;
    margin-bottom: 20px;

    @media (min-width: 576px) {
        justify-content: center;
    }
    
    .scrollable-wrapper {
        padding: 0 12px 12px;
    }

    .scrollable-item:not(:last-child) {
        margin-right: 12px;
    }

    .nav-link {
        font-family: var(--bs-title-font-family);
        font-size: 28px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.28px;
    }
}

.swiperBlogSlider {
    overflow: visible;

    &-next,
    &-prev {
        position: absolute;
        top: 180px;
        transform: translateY(-50%);
        cursor: pointer;
        display: none;
        align-items: center;
        justify-content: center;
        width: 77px;
        height: 77px;
        border-radius: 50%;
        transition: background-color 0.3s ease;
        z-index: 10;

        @media (min-width: 992px) {
            display: flex;
        }
    }

    &-next:hover,
    &-prev:hover {
        background-color: rgba(159, 147, 135, 0.80);
    }

    &-next.swiper-button-disabled,
    &-prev.swiper-button-disabled {
        opacity: 0.45;
        background-color: transparent;
    }

    &-next {
        right: 69px;
        left: auto;
    
        svg {
            margin-left: 10px;
        }
    }
    
    &-prev {
        left: 69px;
        right: auto;
    
        svg {
            margin-right: 10px;
        }
    }

    .swiper-slide {
        width: 305px;
        
        @media (min-width: 992px) {
            width: 345px;
        }
    }
}

.blog-slide-item {

    &__img {
        height: 318px;
        overflow: hidden;

        @media (min-width: 992px) {
            height: 360px;
        }
    
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: all .3s ease;
        }

        &:hover img {
            @media (min-width: 992px) {
                transform: scale(1.1);
            }
        }
    }
    
    &__body {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 12px 0 0;
    }
    
    &__tags {
        --bs-link-color-rgb: var(--theme-light-gray-rgb);
        --bs-link-hover-color-rgb: var(--bs-primary-rgb);
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        text-transform: lowercase;
    }
    
    &__title {
        --bs-link-color-rgb: var(--theme-black-rgb);
        --bs-link-hover-color-rgb: var(--bs-primary-rgb);
        font-family: var(--bs-title-font-family);
        font-size: 24px;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 0.24px;
    }
    
    &__read-link {
        --bs-link-color-rgb: var(--bs-primary-rgb);
        --bs-link-hover-color-rgb: var(--bs-body-color-rgb);
        font-size: 18px;
        font-weight: 500;
        line-height: normal;
        text-transform: lowercase;
    }
}

/* section-categories-circles ============================ */

.section-categories-circles {
    overflow: hidden;
    margin-bottom: 52px;
}

.section-categories-circles .title {
    text-align: center;
    font-weight: 400;
    text-transform: none;
    margin-bottom: 32px;
}

.swiperCategoriesCircles-container {
    position: relative;
    max-width: 1040px;
    margin: 0 auto;
}

.swiperCategoriesCircles-next,
.swiperCategoriesCircles-prev {
    position: absolute;
    top: 35%;
    transform: translateY(0);
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.swiperCategoriesCircles-next {
    right: -54px;
    left: auto;
}

.swiperCategoriesCircles-prev {
    left: -54px;
    right: auto;
}

.swiperCategoriesCircles .swiper-slide {
    width: 143px;
}

.swiperCategoriesCircles-next.swiper-button-disabled,
.swiperCategoriesCircles-prev.swiper-button-disabled {
    display: none;
}

.categories-circles__item {
    --bs-link-color-rgb: var(--bs-secondary-rgb);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.categories-circles__img {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--bs-primary);
}

/* .categories-circles__img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    box-shadow: inset 0 0 0 4px #fff;
} */

.categories-img-border {
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #fff;
}

.categories-circles__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all .3s ease;
}

.categories-circles__item:hover img {
    transform: scale(1.1);
}

.categories-circles__overlay {
    position: absolute;
    top: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
    opacity: 0;
    background-color: #fff;
    z-index: 5;
    transition: .3s ease;
}

.categories-circles__item:hover .categories-circles__overlay {
    top: 0;
    opacity: 1;
}

.categories-circles__title {
    text-align: center;
    font-family: var(--bs-title-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 90%;
    letter-spacing: 0.24px;
}

@media (min-width: 992px) {
    .swiperCategoriesCircles-next,
    .swiperCategoriesCircles-prev {
        display: flex;
    }

    .swiperCategoriesCircles .swiper-slide {
        width: 182px;
    }

}

/* swiperProductCollection ============================ */

.swiperProductCollection .swiper-slide,
.swiperProductCatalog .swiper-slide {
    width: auto;
    height: auto;
    max-width: 320px;
}

.product-collection-card {
    --bs-card-spacer-y: 16px;
    --bs-card-spacer-x: 0;
    --bs-card-border-width: 0;
    --bs-card-title-color: var(--bs-body-color);
    --bs-card-title-weight: 600;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.product-collection-card .card-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.product-collection-card .card-title {
    display: block;
    font-weight: 600;
    margin-bottom: 12px;
    width: auto;
    max-width: 220px;
}

@media (min-width: 992px) {

    .product-collection-card {
        font-size: 18px;
    }
}

/* section-slider-featured-collections ============================ */

.section-slider-featured-collections {
    margin-bottom: 72px;
}

.card-ready-made-solutions {
    --bs-card-spacer-y: 22px;
    --bs-card-spacer-x: 0;
    --bs-card-border-width: 0;
}

.card-ready-made-solutions .card-top__info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 22px;
    padding: 12px 18px;
    color: #fff;
    background-color: #9F9387CC;
}

.card-ready-made-solutions .card-title {
    --bs-link-color-rgb: var(--bs-body-color-rgb);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    display: block;
    font-family: var(--bs-title-font-family);
    font-size: 28px;
    margin-bottom: 10px;
}

.card-ready-made-solutions .btn {
    --bs-btn-color: var(--bs-primary);
    --bs-btn-hover-color: var(--bs-body-color);
}

.card-ready-made-solutions .btn svg {
    margin-left: 18px;
    transition: 0.3s ease;
}

.card-ready-made-solutions .btn:hover svg {
    transform: translateX(10px);
}

.card-ready-made-solutions .btn:hover svg path {
    fill: var(--bs-body-color);
}

.card-ready-made-solutions .card-short-descr {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (min-width: 992px) {
    .section-slider-featured-collections {
        margin-bottom: 82px;
    }

    .card-ready-made-solutions .card-title {
        font-size: 32px;
    }
    
}

/* section-slider-featured-products ============================ */

.section-slider-featured-products {
    margin-bottom: 42px;
}

.swiper-btn-brown {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    width: 77px;
    height: 77px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    z-index: 10;
}

.swiper-btn-brown:hover {
    background-color: rgba(159, 147, 135, 0.80);
}

.swiper-btn-next {
    right: 69px;
    left: auto;
}

.swiper-btn-next svg {
    margin-left: 10px;
}

.swiper-btn-prev {
    left: 69px;
    right: auto;
}

.swiper-btn-prev svg {
    margin-right: 10px;
}

.swiper-btn-brown.swiper-button-disabled {
    opacity: 0.45;
    background-color: transparent;
}

@media (min-width: 992px) {
    .section-slider-featured-products {
        margin-bottom: 82px;
    }

    .swiper-btn-brown {
        display: flex;
    }
    
}

/* section-popular-products ============================ */

.section-popular-products {
    margin-bottom: 82px;
}

.section-popular-products .title {
    text-align: center;
    margin-bottom: 32px;
}

.popular-products-tab-nav {
    --bs-nav-link-color: var(--bs-secondary);
    --bs-nav-link-hover-color: var(--bs-primary);
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
}

.popular-products-tab-nav .scrollable-wrapper {
    padding: 0 12px 12px;
}

.popular-products-tab-nav .scrollable-item:not(:last-child) {
    margin-right: 12px;
}

.popular-products-tab-nav .nav-link {
    font-family: var(--bs-title-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.24px;
}

.popular-products-tab-nav .nav-link span {
    position: relative;
}

.popular-products-tab-nav .nav-link span::after {
    content: "";
    width: 0;
    position: absolute;
    border-bottom: 1px solid var(--bs-primary);
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: all .6s;
    transition-timing-function: cubic-bezier(.6,0,.4,1);
}

.popular-products-tab-nav .nav-link.active {
    color: var(--bs-primary);
    background-color: transparent;
}

.popular-products-tab-nav .nav-link.active span::after {
    width: 100%;
}

.popular-products-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 47px 34px;
}

.section-popular-products__link {
    text-align: center;
    margin-top: 32px;
}

.section-popular-products__link .btn {
    --bs-btn-font-size: 18px;
    --bs-btn-font-weight: 500;
    max-width: 352px;
    width: 100%;
    text-transform: lowercase;
}

@media (min-width: 768px) {
    .popular-products-tab-nav {
        justify-content: center;
    }

}

@media (min-width: 992px) {
    .section-popular-products__link {
        margin-top: 52px;
    }

}

/* section-shops-grid ============================ */

.section-shops-grid {
    --bs-gutter-x: 22px;
    --bs-gutter-y: 22px;
    margin-bottom: 42px;
}

.city-shops-wrapper {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.city-shops-item:not(:last-child) {
    padding-bottom: 22px;
    border-bottom: 1px solid var(--bs-border-color);
}

.card-shop-location {
    --bs-card-font-size: 1.125rem;
    --bs-body-color: var(--bs-secondary);
    --bs-link-color-rgb: var(--bs-secondary-rgb);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    --bs-card-spacer-y: 12px;
    --bs-card-spacer-x: 12px;
    font-size: var(--bs-card-font-size) !important;
}

.btn-card-shop-location {
    --bs-btn-font-weight: 400;
    --bs-btn-color: #fff;
    --bs-btn-bg: rgba(159, 147, 135, 0.8);
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgba(159, 147, 135, 1);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgba(159, 147, 135, 1);
    --bs-btn-active-border-color: transparent;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: rgba(159, 147, 135, 1);
    --bs-btn-disabled-border-color: transparent;
    position: absolute;
    bottom: 20px;
    left: 22px;
    right: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 15px 22px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    transition: 0.3s ease;
}

.card-shop-location .card-title {
    --bs-link-color-rgb: var(--bs-body-color-rgb);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    font-family: var(--bs-title-font-family);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.75px;
    text-transform: uppercase;
}

@media (min-width: 992px) {
    .section-shops-grid {
        --bs-gutter-x: 32px;
        --bs-gutter-y: 32px;
    }

    .card-shop-location:hover .btn-card-shop-location {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }
    
}

/* section-shops-location ============================ */

.section-shops-location {
    margin-bottom: 42px;
}

.section-shops-location__link {
    --bs-link-color-rgb: var(--theme-light-gray-rgb);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 12px;
}

.swiperShopsLocation .swiper-slide {
    height: auto;
}

.swiperShopsLocation-navigation {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 65%;
    height: 100%;
}

.swiperShopsLocation-next,
.swiperShopsLocation-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 77px;
    height: 77px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    z-index: 10;
}

.swiperShopsLocation-next:hover,
.swiperShopsLocation-prev:hover {
    background-color: rgba(159, 147, 135, 0.80);
}

.swiperShopsLocation-next.swiper-button-disabled,
.swiperShopsLocation-prev.swiper-button-disabled {
    opacity: 0.45;
    background-color: transparent;
}

.swiperShopsLocation-next {
    right: 69px;
    left: auto;
}

.swiperShopsLocation-next svg {
    margin-left: 10px;
}

.swiperShopsLocation-prev {
    left: 69px;
    right: auto;
}

.swiperShopsLocation-prev svg {
    margin-right: 10px;
}

.shop-location__item {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.shop-location__img {
    height: 320px;
}

.shop-location__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.shop-location__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 62px;
    height: 100%;
    padding: 22px 22px 32px;
    background-color: #F8F8F8;
}

.shop-location__body-top {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.shop-location__title {
    --bs-link-color-rgb: var(--bs-secondary-rgb);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    font-family: var(--bs-title-font-family);
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.68px;
}

.shop-location__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    color: var(--bs-secondary);
    font-family: var(--bs-title-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.24px;
}

.shop-location__tags .item-tag {
    display: flex;
    align-items: center;
    gap: 6px;
}

.shop-location__tags .item-tag + .item-tag::before {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: var(--bs-secondary);
}

.shop-location__body-bottom-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.shop-location__hours {
    color: var(--bs-primary);
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
}

.shop-location__address {
    color: var(--bs-secondary);
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.shop-location__metro {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 8px;
    color: var(--bs-secondary);
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
}

.item-metro,
.item-phone,
.item-email {
    display: flex;
    align-items: center;
    gap: 8px;
}

.item-metro::before,
.item-phone::before,
.item-email::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.item-metro::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='17' viewBox='0 0 24 17' fill='none'%3E%3Cpath d='M22.3419 14.1803L16.7219 0L11.983 8.2907L7.24417 0L1.62416 14.1848H0V16.3164H8.46286V14.1848H7.2102L8.42888 10.6624L11.983 16.484L15.5371 10.6624L16.7558 14.1848H15.5032V16.3164H24V14.1848L22.3419 14.1803Z' fill='%23FF0000'/%3E%3C/svg%3E");
}

.item-phone::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='20' viewBox='0 0 21 20' fill='none'%3E%3Cg clip-path='url(%23clip0_3600_3321)'%3E%3Cpath d='M7.5739 18.295C6.723 18.8447 5.70903 19.0844 4.70249 18.9736C3.69596 18.8626 2.75823 18.408 2.047 17.6861L1.42522 17.0772C1.15263 16.7979 1 16.4229 1 16.0324C1 15.6419 1.15263 15.2668 1.42522 14.9876L4.06432 12.3721C4.34081 12.1 4.71296 11.9475 5.10062 11.9475C5.48827 11.9475 5.86043 12.1 6.13691 12.3721C6.41573 12.6451 6.79018 12.798 7.18012 12.798C7.57005 12.798 7.94449 12.6451 8.22331 12.3721L12.3685 8.22058C12.5068 8.08409 12.6166 7.92144 12.6915 7.74208C12.7665 7.56272 12.8051 7.37021 12.8051 7.17578C12.8051 6.98133 12.7665 6.78883 12.6915 6.60946C12.6166 6.4301 12.5068 6.26745 12.3685 6.13096C12.0968 5.85406 11.9445 5.48133 11.9445 5.09308C11.9445 4.70482 12.0968 4.33211 12.3685 4.05519L14.9937 1.42588C15.2726 1.15286 15.647 1 16.0369 1C16.427 1 16.8014 1.15286 17.0802 1.42588L17.6882 2.04861C18.4089 2.76093 18.8628 3.7001 18.9735 4.70818C19.0843 5.71627 18.8451 6.7318 18.2961 7.58401C15.4359 11.8058 11.7965 15.4413 7.5739 18.295Z' stroke='%23474A51' stroke-width='0.829822' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E");
}

.item-email::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='20' viewBox='0 0 21 20' fill='none'%3E%3Cg clip-path='url(%23clip0_3600_7767)'%3E%3Cpath d='M17.5644 3.00012H2.37992C1.61754 3.00012 0.999512 3.60422 0.999512 4.34939V15.8182C0.999512 16.5634 1.61754 17.1675 2.37992 17.1675H17.5644C18.3268 17.1675 18.9448 16.5634 18.9448 15.8182V4.34939C18.9448 3.60422 18.3268 3.00012 17.5644 3.00012Z' stroke='%23474A51' stroke-width='0.829822' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M0.999512 4.8891L9.08871 9.40247C9.33675 9.53757 9.64936 9.61155 9.97217 9.61155C10.295 9.61155 10.6076 9.53757 10.8556 9.40247L18.9448 4.8891' stroke='%23474A51' stroke-width='0.829822' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3600_7767'%3E%3Crect width='20' height='20' fill='white' transform='translate(0.0541992)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.shop-location__phone {
    --bs-link-color-rgb: var(--bs-secondary-rgb);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.shop-location__link {
    margin-top: 32px;
}

.shop-location__link a {
    display: inline-block;
    transition: 0.3s ease;
}

.shop-location__link a:hover {
    transform: translateX(12px);
}

.shop-location__contacts {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 22px;
}

@media (min-width: 992px) {
    .section-shops-location__link {
        margin-bottom: 22px;
    }

    .swiperShopsLocation-navigation {
        display: block;
    }

    .shop-location__item {
        flex-direction: row;
    }

    .shop-location__img {
        height: 100%;
    }
    
    .shop-location__body {
        order: -1;
        flex: 1 0 35%;
        padding: 57px 32px 53px;
    }
}

/* section-cart */

.message-empty-wrap {
    padding: 102px 0;

    @media (min-width: 992px) {
        padding: 42px 0;
    }
}

.section-whishlist {
    --bs-gutter-x: 18px;
    --bs-gutter-y: 18px;

    @media (min-width: 992px) {
        --bs-gutter-x: 34px;
        --bs-gutter-y: 34px;
    }
}

/* section-shops-map */

.section-shops-map {
    margin-bottom: 72px;

    @media (min-width: 992px) {
        margin-bottom: 82px;
    }
}

.underline-tab-nav {
    --bs-nav-link-color: var(--bs-secondary);
    --bs-nav-link-hover-color: var(--bs-primary);
    --underline-tab-space-between: 12px;

    .scrollable-wrapper {
        padding-bottom: 12px;
    }

    .scrollable-item:not(:last-child) {
        margin-right: var(--underline-tab-space-between);
    }

    .nav-link {
        font-size: 24px;
        font-weight: 400;

        &.active {
            color: var(--bs-primary);
            background-color: transparent;

            span::after {
                width: 100%;
            }
        }

        span {
            position: relative;

            &::after {
                content: "";
                width: 0;
                position: absolute;
                border-bottom: 1px solid var(--bs-primary);
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                transition: all .6s;
                transition-timing-function: cubic-bezier(.6, 0, .4, 1);
            }
        }
    }
}

/* section-shop-top-banner */

.section-shop-top-banner {
    margin-bottom: 22px;

    @media (min-width: 992px) {
        margin-bottom: 42px;
    }
}

/* section-shop-info */

.section-shop-info {
    margin-bottom: 42px;
}

/* section-shop-brands */

.section-shop-brands {
    margin-bottom: 42px;

    @media (min-width: 992px) {
        margin-bottom: 82px;
    }
}

.card-shop-brands {
    --bs-card-spacer-y: 10px;
    --bs-card-spacer-x: 0;
    --bs-link-color-rgb: var(--bs-body-color-rgb);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* section-email-subscribe */

.section-email-subscribe {
    margin-bottom: 72px;

    @media (min-width: 1200px) {
        margin-bottom: 0;
    }
}

.email-subscribe-wrapper {
    padding: 32px 12px;
    margin-left: -12px;
    margin-right: -12px;
    background-color: #f2f9ff;

    @media (min-width: 992px) {
        padding: 32px 42px;
    }

    @media (min-width: 1200px) {
        padding: 51px 126px;
        margin-left: 0;
        margin-right: 0;
    }
}

.email-subscribe-form .form-control {
    border-left: 0;
    border-top: 0;
    border-right: 0;
    height: 54px;
    font-size: 20px;
    padding-left: 12px;
    padding-right: 42px;
    background-color: transparent;
}

/* section-buyers-info */

.buyers-info-menu {
    --underline-tab-space-between: 22px;

    @media (min-width: 992px) {
        --underline-tab-space-between: 0;

        .scrollable-wrapper {
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            overflow: visible;
            padding-bottom: 0;
            white-space: normal;
        }
    }
}

.card-pick-up-store {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.table-caption {
    margin-top: 22px;

    p:last-child {
        margin-bottom: 0;
    }
}

/* section-page-info */

.section-page-info {
    margin-bottom: 72px;
}

.faq-cat-nav {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    gap: 22px;
    padding-bottom: 12px;
    overflow-x: auto;
    white-space: nowrap;
    font-size: 24px;
}

.link-on-page {
    position: relative;
}

.link-on-page::before {
    content: "";
}

@media (min-width: 992px) {

    .section-page-info {
        margin-bottom: 82px;
    }

    .faq-cat-nav {
        flex-wrap: wrap;
        padding-bottom: 0;
    }
}

.swiperDesignersCircles .swiper-slide {
    width: 216px;
}

.solution-item__info {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 22px;
    padding: 12px 18px;
    color: #fff;
    background-color: #9F9387CC;
}

.solution-item__short-descr p:last-child {
    margin-bottom: 0;
}

.designer-cards-grid {
    --bs-gutter-y: 32px;
}

.designer-card {
    --bs-card-spacer-x: 0;
    --bs-card-border-width: 0;
    --bs-card-title-font: var(--bs-title-font-family);
    --bs-card-title-size: 16px;
    --bs-card-title-weight: 700;
    --bs-card-title-transform: uppercase;
}

.designer-card .card-top {
    border-radius: 60px 0 0 0;
}

@media (min-width: 992px) {

    .designer-cards-grid {
        --bs-gutter-y: 52px;
    }

    .designer-card {
        --bs-card-title-size: 24px;
    }

    .designer-card .card-top {
        border-radius: 125px 0 0 0;
    }

    .designer-card:hover .btn-card-shop-location {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }
}

.swiperDesignerWork .swiper-slide {
    width: 300px;
}

.swiperDesignerWork .swiper-slide a:hover::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='77' height='77' viewBox='0 0 77 77' fill='none'%3E%3Ccircle cx='38.5' cy='38.5' r='38.5' fill='%239F9387' fill-opacity='0.8'/%3E%3Cpath d='M38.0001 52C46.2843 52 53 45.2843 53 37.0001C53 28.7157 46.2843 22 38.0001 22C29.7157 22 23 28.7157 23 37.0001C23 45.2843 29.7157 52 38.0001 52Z' stroke='white' stroke-width='1.34235' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M55 54L49 48' stroke='white' stroke-width='1.34235' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M36.8018 43V31H39.1893V43H36.8018ZM32 38.1893V35.8018H44V38.1893H32Z' fill='white'/%3E%3C/svg%3E");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.collection-cards-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px 42px;
}

.collection-card {
    --bs-card-spacer-x: 0;
    --bs-card-border-width: 0;
}

.collection-card .card-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.collection-card .card-bottom {
    margin-top: 6px;
}

.collection-card-options {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.collection-card-option__item {
    width: 58px;
    height: 58px;
    padding: 3px;
    border: 1px solid;
    border-color: transparent;
}

.collection-card-option__item.active {
    border-color: var(--bs-primary);
}

.collection-card-option__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media (min-width: 992px) {

    .collection-cards-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.swiperCollectionItemHero {
    margin-bottom: 22px;
}

.swiperCollectionItemHero-next.swiper-button-disabled,
.swiperCollectionItemHero-prev.swiper-button-disabled {
    opacity: 0.45;
}

.glossary-nav {
    margin-bottom: 10px;
}

.glossary-nav__link {
    display: inline-block;
    padding: 0;
    border: none;
    margin-right: 32px;
    margin-bottom: 22px;
    color: #1A1A16;
    font-size: 24px;
    font-weight: 500;
    background-color: transparent;
}

.glossary-nav__link.active,
.glossary-group-btn,
.glossary-nav__link:hover {
    color: var(--bs-primary);
}

.glossary-nav__link.disabled {
    color: #7C7D80;
    font-weight: 400;
}

.glossary-nav__link.active,
.glossary-nav__link.disabled {
    pointer-events: none;
}

.glossary-nav__group-links .glossary-nav__link {
    margin-right: 12px;
}

.glossary-group-btn.collapsed {
    color: #1A1A16;
}

.glossary-brands-wrapper {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.glossary-brand-title {
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.glossary-brand-card {
    --bs-card-spacer-y: 12px;
    --bs-card-spacer-x: 0;
    --bs-card-border-width: 0;
    --bs-card-title-size: 18px;
    --bs-card-title-weight: 400;
}

.glossary-brand-card .card-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 992px) {

    .glossary-brands-wrapper {
        gap: 32px;
    }

    .glossary-brand-title {
        margin-bottom: 22px;
    }

    .glossary-brand-card {
        --bs-card-title-size: 24px;
    }
}

.page-item__hero-img {
    position: relative;
    height: 212px;
    margin-bottom: 22px;
}

.page-item__hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.page-item__text {
    --bs-link-color-rgb: var(--bs-body-color-rgb);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    max-width: 1040px;
    margin: 0 auto;
    margin-bottom: 52px;
}

.page-item__gallery,
.page-item__gallery-02 {
    margin-bottom: 32px;
}

.page-item__text a {
    /* text-decoration: underline; */
}

.slider-categories-circles-wrapper {
    overflow: hidden;
    margin-top: 32px;
}

@media (min-width: 992px) {

    .page-item__hero-img {
        height: 420px;
        margin-bottom: 32px;
    }

    .page-item__text {
        column-count: 2;
        column-fill: balance;
    }

    .slider-categories-circles-wrapper {
        margin-top: 42px;
    }
}

/* blog page */

.blog-page-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px 32px;
}

.card-blog-item {
    --bs-card-spacer-x: 0;
    --bs-card-border-width: 0;
    --bs-card-title-size: 18px;
    --bs-card-title-weight: 400;
}

.card-blog-item .card-img-wrapper {
    overflow: hidden;
}

.card-blog-item img {
    max-width: 100%;
    height: auto;
    width: 100%;
    transition: .3s ease;
}

.card-blog-item:hover img {
    transform: scale(1.1);
}

.card-blog-item.card-rounded .card-img-wrapper {
    border-radius: 50%;
}

.card-blog-meta {
    font-family: var(--bs-title-font-family);
}

.post-page__meta {}

.post-page__content-wrapper {
    margin-bottom: 32px;
}

.post-page__posts-nav {
    padding: 32px 0;
    border-top: 1px solid #DEE5ED;
}

.btn-post-prev,
.btn-post-next {
    --bs-btn-color: var(--theme-light-gray);
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

@media (max-width: 991px) {

    .btn-post-prev span,
    .btn-post-next span {
        display: none;
    }
}

@media (min-width: 992px) {

    .blog-page-grid {
        grid-template-columns: 1fr 1fr;
        gap: 82px 32px;
    }

    .card-blog-item.card-big {
        grid-column: span 2;
    }

    .post-page__content-wrapper {
        margin-bottom: 52px;
    }
}

@media (min-width: 1200px) {

    .blog-page-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.about-in-numbers-card {
    position: relative;
    border-top: 1px solid #DEE5ED;
}

.about-in-numbers-card__index {
    margin-top: -12px;
    margin-bottom: 22px;
}

.about-in-numbers-card__title {
    color: #000;
    font-family: var(--bs-title-font-family);
    font-size: 90px;
    font-weight: 700;
}

.about-in-numbers-card__subtitle {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.about-history-wrapper {
    max-width: 1040px;
    margin: 0 auto;
}

/* .about-history-item {
    padding: 32px 0;
} */

.about-history-item {
    border-top: 1px solid #DEE5ED;
}

.about-history-item:nth-child(odd) {
    border-right: 1px solid #DEE5ED;
}

.about-history-item:nth-child(even) {
    border-left: 1px solid #DEE5ED;
}

.about-history-item:last-child {
    border-bottom: 1px solid #DEE5ED;
}

.about-history-item__body {
    padding: 32px 22px;
}

@media (min-width: 992px) {

    .about-in-numbers-card__index {
        margin-bottom: 32px;
    }

    .about-in-numbers-card__title {
        font-size: 110px;
    }

    .about-in-numbers-card__subtitle {
        font-size: 24px;
        margin-bottom: 32px;
    }

    .about-history-item__body {
        padding: 42px 52px;
    }
}

.block-blockquote {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 54px;
    padding-left: 22px;
    padding-bottom: 36px;
    border-left: 1px solid #DEE5ED;
}

.blockquote__title {
    color: #1A1A16;
    font-family: var(--bs-title-font-family);
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 22px;
}

.blockquote__title p:last-child {
    margin-bottom: 0;
}

.blockquote__author {
    color: #02378F;
    font-size: 18px;
}

.block-blockquote::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='27' viewBox='0 0 27 27' fill='none'%3E%3Cpath d='M0 16.9556C0 10.5973 4.09655 3.96246 9.68276 0L10.6138 1.4744C6.23793 4.69966 4.09655 8.84642 4.09655 14.0068C4.09655 15.0205 4.18965 15.942 4.37586 16.8635C5.12069 16.3106 5.95862 16.0341 6.79655 16.0341C9.86897 16.0341 12.3828 18.5222 12.3828 21.5631C12.3828 24.6041 9.86897 27 6.79655 27C1.86207 27 0 22.3925 0 16.9556ZM14.6172 16.9556C14.6172 10.5973 18.7138 3.96246 24.3 0L25.231 1.4744C20.8552 4.69966 18.7138 8.84642 18.7138 14.0068C18.7138 15.0205 18.8069 15.942 18.9931 16.8635C19.7379 16.3106 20.5759 16.0341 21.4138 16.0341C24.4862 16.0341 27 18.5222 27 21.5631C27 24.6041 24.4862 27 21.4138 27C16.4793 27 14.6172 22.3925 14.6172 16.9556Z' fill='%23DEE5ED'/%3E%3C/svg%3E");
    position: absolute;
    top: 0;
    left: -13px;
    padding-bottom: 12px;
    background: #fff;
}

.swiperAbout .swiper-img-wrapper {
    height: 300px;
}

.swiperAbout img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#accordionAbout .accordion-button:not(.collapsed) {
    color: var(--bs-primary);
}

@media (min-width: 992px) {

    .swiperAbout .swiper-img-wrapper {
        height: 500px;
    }
}

.profile-order-product-items__table-heading {
    padding-bottom: 22px;
    border-bottom: 1px solid #DEE5ED;
}

.profile-order-product-items__table-body {
    display: flex;
    flex-direction: column;
}

.profile-order-product-items__table-body .profile-order-product-item-card:not(:last-child) {
    border-bottom: 1px solid #DEE5ED;
}

.profile-order-product-item-card {
    --bs-card-spacer-y: 22px;
    --bs-card-spacer-x: 0;
    --bs-card-title-font: var(--bs-title-font-family);
    --bs-card-title-size: 18px;
    --bs-card-title-weight: 700;
    --bs-card-title-spacer-y: 12px;
    --bs-link-color-rgb: 26, 26, 22;
    --bs-link-hover-color-rgb: 2, 55, 143;
    font-size: 16px;
}

.card-order-star-rating {
    display: flex;
    gap: 3px;
    margin-bottom: 8px;
}

// .profile-order-product-item-card .card-content {
//     display: flex;
//     gap: 12px;
// }

.profile-order-product-item-card .card-order-sku,
.profile-order-product-item-card .card-order-country,
.profile-order-product-item-card .card-order-quantity {
    color: #7C7D80;
    font-size: 14px;
}

.profile-order-product-item-card .card-order-price {
    color: #333333;
    font-size: 20px;
    font-weight: 500;
}

.card-rate-order-btn-desk {
    display: none;
}

table.reservation_order_product {
    width: 100%;
    height: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 1px 1px;
    background: #d5d5d5;
}

table.reservation_order_product tr {
    border: 1px solid #333;
    background: #f1f1f1;
}

table.reservation_order_product td {
    vertical-align: top;
    padding: 8px;
    font-size: 16px;
}

.theader td {
    text-align: center;
}

@media (min-width: 992px) {

    .profile-order-product-item-card .card-order-sku,
    .profile-order-product-item-card .card-order-country,
    .profile-order-product-item-card .card-order-quantity {
        font-size: 18px;
    }

    .card-rate-order-btn-desk {
        display: flex;
        justify-content: flex-end;
    }
}

.col-fixed-mobile {
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100% - 100px);
    background: #fff;
    z-index: 100;
}

.table-profile-orders-summary {
    max-width: 470px;
    margin-bottom: 0;
}

.table-profile-orders-summary>:not(caption)>*>* {
    padding-left: 0;
    padding-right: 0;
}

.table-profile-orders-summary tr>th,
.table-profile-orders-summary tr>td {
    width: 50%;
}

.table-profile-orders-summary tr>td {
    text-align: right;
    font-weight: 500;
}

.product-cart-items-wrapper .product-cart-item:not(:last-child) {
    padding-bottom: 22px;
    margin-bottom: 22px;
    border-bottom: 1px solid #DEE5ED;
}

.product-cart-card .product-item__like-btn {
    width: auto;
    height: auto;
}

.product-cart-card__quantity-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media (min-width: 992px) {

    .col-fixed-mobile {
        position: static;
    }

    .col-fixed-mobile .section-product__calculate-cost {
        margin-left: auto;
        max-width: 400px;
    }

    .product-cart-card__quantity-wrapper {
        max-width: 200px;
    }

}

/* designer-avatar */

.designer-avatar-wrapper {
    overflow: hidden;
    border-radius: 60px 0 0 0;
}

@media (min-width: 992px) {
    .designer-avatar-wrapper {
        border-radius: 125px 0 0 0;
    }
}

.hide-text-content {
    overflow: hidden;
    max-width: 870px;
    transition: height 0.3s ease;
}

.hide-text-content.js-collapsed {
    height: 90px;
}

.hide-text-content p:last-child {
    margin-bottom: 0;
}

.toggle-hide-text .svg-inline {
    transition: transform 0.3s ease;
}

.toggle-hide-text.js-active .svg-inline {
    transform: rotate(180deg);
}