<section class="section section-hero">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-8 hero-col-main">
                <div class="swiper swiperHeroSlider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="hero-slider-item">
                                <picture>
                                    <source srcset="img/section-hero/hero-banner-01-m.jpg" media="(max-width: 767px)">
                                    <img src="img/section-hero/hero-banner-01.jpg" alt="Новая коллекция уже на складе">
                                </picture>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="hero-slider-item">
                                <picture>
                                    <source srcset="img/section-hero/hero-banner-02-m.jpg" media="(max-width: 767px)">
                                    <img src="img/section-hero/hero-banner-02.jpg" alt="Новая коллекция уже на складе">
                                </picture>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="hero-slider-item">
                                <picture>
                                    <source srcset="img/section-hero/hero-banner-03-m.jpg" media="(max-width: 767px)">
                                    <img src="img/section-hero/hero-banner-03.jpg" alt="Новая коллекция уже на складе">
                                </picture>
                            </a>
                        </div>
                    </div>
                    <div class="swiperHeroSlider-next">
                        <svg xmlns="http://www.w3.org/2000/svg" width="27" height="46" viewBox="0 0 27 46" fill="none">
                            <path
                                d="M1 41L1 43.1742L2.65079 41.7593L23.6508 23.7593L24.5366 23.0001L23.6508 22.2408L2.65079 4.24092L0.999997 2.82596L0.999997 5.00017L0.999997 7.56872L0.999997 8.02865L1.34921 8.32797L18.4668 23.0001L1.34921 37.6722L1 37.9715L1 38.4315L1 41Z"
                                stroke="#9F9387" stroke-opacity="0.8" stroke-width="2" fill="white" />
                        </svg>
                    </div>
                    <div class="swiperHeroSlider-prev">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="46" viewBox="0 0 28 46" fill="none">
                            <path
                                d="M26.5274 5V2.86035L24.8859 4.23284L3.35855 22.2327L2.44104 22.9999L3.35855 23.7671L24.8859 41.767L26.5274 43.1395V40.9998V38.4313V37.9639L26.1689 37.6641L8.63086 22.9999L26.1689 8.3357L26.5274 8.03591V7.56854V5Z"
                                stroke="#9F9387" stroke-opacity="0.8" stroke-width="2" fill="white" />
                        </svg>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="col-lg-4 hero-col-secondary">
                <a href="#" class="hero-category">
                    <img src="img/section-hero/hero-category-01.webp" alt="Хиты продаж">
                    <div class="hero-category__text">
                        <div class="hero-category__title">новый шоу-рум</div>
                        <div class="hero-category__link">
                            <span>Нахимовский пр-т, 59А</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>