/* ACCORDION ============================ */

.accordion {
    --bs-accordion-btn-padding-x: 0;
    --bs-accordion-btn-padding-y: 22px;
    --bs-accordion-body-padding-x: 0;
    --bs-accordion-body-padding-y: 22px;
    --bs-accordion-active-color: inherit;
    --bs-accordion-active-bg: transparent;
}

.accordion-item {
    border-left: 0;
    border-right: 0;
}

.accordion-item:first-of-type {
    border-top: 0;
}

.accordion-item:last-of-type {
    border-bottom: 0;
}

.accordion-button {
    font-size: 1.5rem;
}