/* CARDS ============================ */

.card-title {
    font-family: var(--bs-card-title-font);
    font-size: var(--bs-card-title-size);
    font-weight: var(--bs-card-title-weight);
    text-transform: var(--bs-card-title-transform);
}