.popover {
    --bs-popover-zindex: 999;
    --bs-popover-max-width: 320px;
    --bs-popover-font-size: 1rem;
    font-family: var(--bs-body-font-family);

    .popover-title {
        --bs-link-color-rgb: var(--bs-body-color-rgb);
        --bs-link-hover-color-rgb: var(--bs-primary-rgb);
        font-family: var(--bs-title-font-family);
        font-size: 18px;
        font-weight: 700;
        line-height: 1;

        @media (min-width: 992px) {
            font-size: 20px;
        }
    }

    .popover-arrow {
        display: none;
    }
}

.svg-long-arrow {
    width: 50px;
    height: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='51' height='8' viewBox='0 0 51 8' fill='none'%3E%3Cpath d='M50.2947 4.29465C50.4574 4.13192 50.4574 3.86808 50.2947 3.70535L47.6428 1.05346C47.48 0.890723 47.2162 0.890723 47.0535 1.05346C46.8907 1.21619 46.8907 1.48003 47.0535 1.64277L49.4107 4L47.0535 6.35723C46.8907 6.51997 46.8907 6.78381 47.0535 6.94654C47.2162 7.10928 47.48 7.10928 47.6428 6.94654L50.2947 4.29465ZM0 4.4167H50V3.5833H0V4.4167Z' fill='%237C7D80'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}