/* SECTIONS ============================ */

/* section-cart */

.message-empty-wrap {
    padding: 102px 0;

    @media (min-width: 992px) {
        padding: 42px 0;
    }
}

.section-whishlist {
    --bs-gutter-x: 18px;
    --bs-gutter-y: 18px;

    @media (min-width: 992px) {
        --bs-gutter-x: 34px;
        --bs-gutter-y: 34px;
    }
}

/* section-shops-map */

.section-shops-map {
    margin-bottom: 72px;

    @media (min-width: 992px) {
        margin-bottom: 82px;
    }
}

.underline-tab-nav {
    --bs-nav-link-color: var(--bs-secondary);
    --bs-nav-link-hover-color: var(--bs-primary);
    --underline-tab-space-between: 12px;

    .scrollable-wrapper {
        padding-bottom: 12px;
    }

    .scrollable-item:not(:last-child) {
        margin-right: var(--underline-tab-space-between);
    }

    .nav-link {
        font-size: 24px;
        font-weight: 400;

        &.active {
            color: var(--bs-primary);
            background-color: transparent;

            span::after {
                width: 100%;
            }
        }

        span {
            position: relative;

            &::after {
                content: "";
                width: 0;
                position: absolute;
                border-bottom: 1px solid var(--bs-primary);
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                transition: all .6s;
                transition-timing-function: cubic-bezier(.6,0,.4,1);
            }
        }
    }
}

/* section-shop-top-banner */

.section-shop-top-banner {
    margin-bottom: 22px;

    @media (min-width: 992px) {
        margin-bottom: 42px;
    }
}

/* section-shop-info */

.section-shop-info {
    margin-bottom: 42px;
}

/* section-shop-brands */

.section-shop-brands {
    margin-bottom: 42px;

    @media (min-width: 992px) {
        margin-bottom: 82px;
    }
}

.card-shop-brands {
    --bs-card-spacer-y: 10px;
    --bs-card-spacer-x: 0;
    --bs-link-color-rgb: var(--bs-body-color-rgb);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* section-email-subscribe */

.section-email-subscribe {
    margin-bottom: 72px;

    @media (min-width: 1200px) {
        margin-bottom: 0;
    }
}

.email-subscribe-wrapper {
    padding: 32px 12px;
    margin-left: -12px;
    margin-right: -12px;
    background-color: #f2f9ff;

    @media (min-width: 992px) {
        padding: 32px 42px;
    }

    @media (min-width: 1200px) {
        padding: 51px 126px;
        margin-left: 0;
        margin-right: 0;
    }
}

.email-subscribe-form .form-control {
    border-left: 0;
    border-top: 0;
    border-right: 0;
    height: 54px;
    font-size: 20px;
    padding-left: 12px;
    padding-right: 42px;
    background-color: transparent;
}

/* section-buyers-info */

.buyers-info-menu {
    --underline-tab-space-between: 22px;

    @media (min-width: 992px) {
        --underline-tab-space-between: 0;
        
        .scrollable-wrapper {
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            overflow: visible;
            padding-bottom: 0;
            white-space: normal;
        }
    }
}

.card-pick-up-store {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.table-caption {
    margin-top: 22px;

    p:last-child {
        margin-bottom: 0;
    }
}

/* section-page-info */

.section-page-info {
    margin-bottom: 72px;
}

.faq-cat-nav {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    gap: 22px;
    padding-bottom: 12px;
    overflow-x: auto;
    white-space: nowrap;
    font-size: 24px;
}

.link-on-page {
    position: relative;
}

.link-on-page::before {
    content: "";
}

@media (min-width: 992px) {

    .section-page-info {
        margin-bottom: 82px;
    }

    .faq-cat-nav {
        flex-wrap: wrap;
        padding-bottom: 0;
    }
}

.swiperDesignersCircles .swiper-slide {
    width: 216px;
}

.solution-item__info {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 22px;
    padding: 12px 18px;
    color: #fff;
    background-color: #9F9387CC;
}

.solution-item__short-descr p:last-child{
    margin-bottom: 0;
}

.designer-cards-grid {
    --bs-gutter-y: 32px;
}

.designer-card {
    --bs-card-spacer-x: 0;
    --bs-card-border-width: 0;
    --bs-card-title-font: var(--bs-title-font-family);
    --bs-card-title-size: 16px;
    --bs-card-title-weight: 700;
    --bs-card-title-transform: uppercase;
}

.designer-card .card-top {
    border-radius: 60px 0 0 0;
}

@media (min-width: 992px) {

    .designer-cards-grid {
        --bs-gutter-y: 52px;
    }

    .designer-card {
        --bs-card-title-size: 24px;
    }

    .designer-card .card-top {
        border-radius: 125px 0 0 0;
    }

    .designer-card:hover .btn-card-shop-location {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }
}

.swiperDesignerWork .swiper-slide {
    width: 300px;
}

.swiperDesignerWork .swiper-slide a:hover::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='77' height='77' viewBox='0 0 77 77' fill='none'%3E%3Ccircle cx='38.5' cy='38.5' r='38.5' fill='%239F9387' fill-opacity='0.8'/%3E%3Cpath d='M38.0001 52C46.2843 52 53 45.2843 53 37.0001C53 28.7157 46.2843 22 38.0001 22C29.7157 22 23 28.7157 23 37.0001C23 45.2843 29.7157 52 38.0001 52Z' stroke='white' stroke-width='1.34235' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M55 54L49 48' stroke='white' stroke-width='1.34235' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M36.8018 43V31H39.1893V43H36.8018ZM32 38.1893V35.8018H44V38.1893H32Z' fill='white'/%3E%3C/svg%3E");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.collection-cards-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px 42px;
}

.collection-card {
    --bs-card-spacer-x: 0;
    --bs-card-border-width: 0;
}

.collection-card .card-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.collection-card .card-bottom {
    margin-top: 6px;
}

.collection-card-options {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.collection-card-option__item {
    width: 58px;
    height: 58px;
    padding: 3px;
    border: 1px solid;
    border-color: transparent;
}

.collection-card-option__item.active {
    border-color: var(--bs-primary);
}

.collection-card-option__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media (min-width: 992px) {

    .collection-cards-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.swiperCollectionItemHero {
    margin-bottom: 22px;
}

.swiperCollectionItemHero-next.swiper-button-disabled,
.swiperCollectionItemHero-prev.swiper-button-disabled {
    opacity: 0.45;
}

.glossary-nav {
    margin-bottom: 10px;
}

.glossary-nav__link {
    display: inline-block;
    padding: 0;
    border: none;
    margin-right: 32px;
    margin-bottom: 22px;
    color: #1A1A16;
    font-size: 24px;
    font-weight: 500;
    background-color: transparent;
}

.glossary-nav__link.active,
.glossary-group-btn,
.glossary-nav__link:hover {
    color: var(--bs-primary);
}

.glossary-nav__link.disabled {
    color: #7C7D80;
    font-weight: 400;
}

.glossary-nav__link.active,
.glossary-nav__link.disabled {
    pointer-events: none;
}

.glossary-nav__group-links .glossary-nav__link {
    margin-right: 12px;
}

.glossary-group-btn.collapsed {
    color: #1A1A16;
}

.glossary-brands-wrapper {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.glossary-brand-title {
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.glossary-brand-card {
    --bs-card-spacer-y: 12px;
    --bs-card-spacer-x: 0;
    --bs-card-border-width: 0;
    --bs-card-title-size: 18px;
    --bs-card-title-weight: 400;
}

.glossary-brand-card .card-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 992px) {

    .glossary-brands-wrapper {
        gap: 32px;
    }

    .glossary-brand-title {
        margin-bottom: 22px;
    }

    .glossary-brand-card {
        --bs-card-title-size: 24px;
    }
}

.page-item__hero-img {
    position: relative;
    height: 212px;
    margin-bottom: 22px;
}

.page-item__hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.page-item__text {
    --bs-link-color-rgb: var(--bs-body-color-rgb);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    max-width: 1040px;
    margin: 0 auto;
    margin-bottom: 52px;
}

.page-item__gallery,
.page-item__gallery-02 {
    margin-bottom: 32px;
}

.page-item__text a {
    /* text-decoration: underline; */
}

.slider-categories-circles-wrapper {
    overflow: hidden;
    margin-top: 32px;
}

@media (min-width: 992px) {

    .page-item__hero-img {
        height: 420px;
        margin-bottom: 32px;
    }

    .page-item__text {
        column-count: 2;
        column-fill: balance;
    }

    .slider-categories-circles-wrapper {
        margin-top: 42px;
    }
}

/* blog page */

.blog-page-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px 32px;
}

.card-blog-item {
    --bs-card-spacer-x: 0;
    --bs-card-border-width: 0;
    --bs-card-title-size: 18px;
    --bs-card-title-weight: 400;
}

.card-blog-item .card-img-wrapper {
    overflow: hidden;
}

.card-blog-item img {
    max-width: 100%;
    height: auto;
    width: 100%;
    transition: .3s ease;
}

.card-blog-item:hover img {
    transform: scale(1.1);
}

.card-blog-item.card-rounded .card-img-wrapper {
    border-radius: 50%;
}

.card-blog-meta {
    font-family: var(--bs-title-font-family);
}

.post-page__meta {

}

.post-page__content-wrapper {
    margin-bottom: 32px;
}

.post-page__posts-nav {
    padding: 32px 0;
    border-top: 1px solid #DEE5ED;
}

.btn-post-prev,
.btn-post-next {
    --bs-btn-color: var(--theme-light-gray);
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

@media (max-width: 991px) {

    .btn-post-prev span,
    .btn-post-next span {
        display: none;
    }
}

@media (min-width: 992px) {

    .blog-page-grid {
        grid-template-columns: 1fr 1fr;
        gap: 82px 32px;
    }

    .card-blog-item.card-big {
        grid-column: span 2;
    }

    .post-page__content-wrapper {
        margin-bottom: 52px;
    }
}

@media (min-width: 1200px) {

    .blog-page-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.about-in-numbers-card {
    position: relative;
    border-top: 1px solid #DEE5ED;
}

.about-in-numbers-card__index {
    margin-top: -12px;
    margin-bottom: 22px;
}

.about-in-numbers-card__title {
    color: #000;
    font-family: var(--bs-title-font-family);
    font-size: 90px;
    font-weight: 700;
}

.about-in-numbers-card__subtitle {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.about-history-wrapper {
    max-width: 1040px;
    margin: 0 auto;
}

/* .about-history-item {
    padding: 32px 0;
} */

.about-history-item {
    border-top: 1px solid #DEE5ED;
}

.about-history-item:nth-child(odd) {
    border-right: 1px solid #DEE5ED;
}

.about-history-item:nth-child(even) {
    border-left: 1px solid #DEE5ED;
}

.about-history-item:last-child {
    border-bottom: 1px solid #DEE5ED;
}

.about-history-item__body {
    padding: 32px 22px;
}

@media (min-width: 992px) {

    .about-in-numbers-card__index {
        margin-bottom: 32px;
    }

    .about-in-numbers-card__title {
        font-size: 110px;
    }

    .about-in-numbers-card__subtitle {
        font-size: 24px;
        margin-bottom: 32px;
    }

    .about-history-item__body {
        padding: 42px 52px;
    }
}

.block-blockquote {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 54px;
    padding-left: 22px;
    padding-bottom: 36px;
    border-left: 1px solid #DEE5ED;
}

.blockquote__title {
    color: #1A1A16;
    font-family: var(--bs-title-font-family);
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 22px;
}

.blockquote__title p:last-child {
    margin-bottom: 0;
}

.blockquote__author {
    color: #02378F;
    font-size: 18px;
}

.block-blockquote::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='27' viewBox='0 0 27 27' fill='none'%3E%3Cpath d='M0 16.9556C0 10.5973 4.09655 3.96246 9.68276 0L10.6138 1.4744C6.23793 4.69966 4.09655 8.84642 4.09655 14.0068C4.09655 15.0205 4.18965 15.942 4.37586 16.8635C5.12069 16.3106 5.95862 16.0341 6.79655 16.0341C9.86897 16.0341 12.3828 18.5222 12.3828 21.5631C12.3828 24.6041 9.86897 27 6.79655 27C1.86207 27 0 22.3925 0 16.9556ZM14.6172 16.9556C14.6172 10.5973 18.7138 3.96246 24.3 0L25.231 1.4744C20.8552 4.69966 18.7138 8.84642 18.7138 14.0068C18.7138 15.0205 18.8069 15.942 18.9931 16.8635C19.7379 16.3106 20.5759 16.0341 21.4138 16.0341C24.4862 16.0341 27 18.5222 27 21.5631C27 24.6041 24.4862 27 21.4138 27C16.4793 27 14.6172 22.3925 14.6172 16.9556Z' fill='%23DEE5ED'/%3E%3C/svg%3E");
    position: absolute;
    top: 0;
    left: -13px;
    padding-bottom: 12px;
    background: #fff;
}

.swiperAbout .swiper-img-wrapper {
    height: 300px;
}

.swiperAbout img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#accordionAbout .accordion-button:not(.collapsed) {
    color: var(--bs-primary);
}

@media (min-width: 992px) {

    .swiperAbout .swiper-img-wrapper {
        height: 500px;
    }
}

.profile-order-product-items__table-heading {
    padding-bottom: 22px;
    border-bottom: 1px solid #DEE5ED;
}

.profile-order-product-items__table-body {
    display: flex;
    flex-direction: column;
}

.profile-order-product-items__table-body .profile-order-product-item-card:not(:last-child) {
    border-bottom: 1px solid #DEE5ED;
}

.profile-order-product-item-card {
    --bs-card-spacer-y: 22px;
    --bs-card-spacer-x: 0;
    --bs-card-title-font: var(--bs-title-font-family);
    --bs-card-title-size: 18px;
    --bs-card-title-weight: 700;
    --bs-card-title-spacer-y: 12px;
    --bs-link-color-rgb: 26,26,22;
    --bs-link-hover-color-rgb: 2,55,143;
}

.profile-order-product-item-card .card-img-wrapper {
    flex-shrink: 0;
    width: 114px;
}

.card-order-star-rating {
    display: flex;
    gap: 3px;
    margin-bottom: 8px;
}

.profile-order-product-item-card .card-content {
    display: flex;
    gap: 12px;
}

.profile-order-product-item-card .card-order-sku,
.profile-order-product-item-card .card-order-country,
.profile-order-product-item-card .card-order-quantity {
    color: #7C7D80;
    font-size: 14px;
}

.profile-order-product-item-card .card-order-price {
    color: #333333;
    font-size: 20px;
    font-weight: 500;
}

.card-rate-order-btn-desk {
    display: none;
}

@media (min-width: 992px) {

    .profile-order-product-item-card {
        --bs-card-title-size: 24px;
    }

    .profile-order-product-item-card .card-img-wrapper {
        width: 138px;
    }

    .profile-order-product-item-card .card-content {
        gap: 22px;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .profile-order-product-item-card .card-order-sku,
    .profile-order-product-item-card .card-order-country,
    .profile-order-product-item-card .card-order-quantity {
        font-size: 18px;
    }

    .card-rate-order-btn-desk {
        display: flex;
        justify-content: flex-end;
    }
}

.col-fixed-mobile {
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100% - 100px);
    background: #fff;
    z-index: 100;
}

.table-profile-orders-summary {
    max-width: 470px;
    margin-bottom: 0;
}

.table-profile-orders-summary>:not(caption)>*>* {
    padding-left: 0;
    padding-right: 0;
}

.table-profile-orders-summary tr>th,
.table-profile-orders-summary tr>td {
    width: 50%;
}

.table-profile-orders-summary tr>td {
    text-align: right;
    font-weight: 500;
}

.product-cart-items-wrapper .product-cart-item:not(:last-child) {
    padding-bottom: 22px;
    margin-bottom: 22px;
    border-bottom: 1px solid #DEE5ED;
}

.product-cart-card .product-item__like-btn {
    width: auto;
    height: auto;
}

.product-cart-card__quantity-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media (min-width: 992px) {

    .col-fixed-mobile {
        position: static;
    }

    .col-fixed-mobile .section-product__calculate-cost {
        margin-left: auto;
        max-width: 400px;
    }

    .product-cart-card__quantity-wrapper {
        max-width: 200px;
    }

}

/* checkout-radio-card */

.checkout-radio-card {
    position: relative;
}

.checkout-radio-card.disabled,
.checkout-radio-card.disabled * {
    cursor: default;
    pointer-events: none;
}

.checkout-radio-card__radio-input {
    display: none;
}

/* .checkout-radio-card__radio-input:checked {
    background: green;
} */

.checkout-radio-card__wrapper {
    cursor: pointer;
    display: block;
    border: 1px solid #DEE5ED;
    padding: 1.5rem;
}

.checkout-radio-card__wrapper:hover {
    border-color: #02378F;
}

.checkout-radio-card__radio-input:checked ~ .checkout-radio-card__wrapper {
    border-color: #02378F;
}

.checkout-radio-card.disabled .checkout-radio-card__wrapper {
    border-color: #DEE5ED !important;
}

.checkout-radio-card__status-text {
    display: none;
    font-weight: 500;
}

.checkout-radio-card.disabled .checkout-radio-card__status-text {
    display: block;
}

/* .checkout-radio-card__radio-label:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 1px solid #DEE5ED;
    z-index: 10;
    pointer-events: none;
    -webkit-transition: 0.3s;
       -moz-transition: 0.3s;
        -ms-transition: 0.3s;
         -o-transition: 0.3s;
            transition: 0.3s;
} */

/* .checkout-radio-card:hover,
.checkout-radio-card.checked {
    border-color: #02378F;
} */

/* .checkout-radio-card.disabled {
    border-color: #DEE5ED !important;
} */

.checkout-radio-card .checkout-radio-card__header .svg-radio__indicator {
    visibility: hidden;
    opacity: 0;
}

.checkout-radio-card__radio-input:checked ~ .checkout-radio-card__wrapper .checkout-radio-card__header .svg-radio__indicator {
    visibility: visible;
    opacity: 1;
}

/* checkout-radio-btn */

.checkout-radio-btn {
    display: block;
    cursor: pointer;
    background: #F8F8F8;
}

.checkout-radio-btn__radio-input {
    display: none;
}

.checkout-radio-btn__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
}

.checkout-radio-btn .svg-radio {
    filter: grayscale(1) opacity(0.5);
}

.checkout-radio-btn .svg-radio__indicator {
    visibility: hidden;
    opacity: 0;
}

.checkout-radio-btn__radio-input:checked + .checkout-radio-btn .svg-radio__indicator {
    visibility: visible;
    opacity: 1;
}

.collapse-label {
    display: none;
}

.checkout-radio-btn__radio-input:checked ~ .collapse-label {
    display: block;
    margin-top: 1rem;
}

.designer-avatar-wrapper {
    overflow: hidden;
    border-radius: 60px 0 0 0;
}

@media (min-width: 992px) {
    .designer-avatar-wrapper {
        border-radius: 125px 0 0 0;
    }
}

.hide-text-content {
    overflow: hidden;
    max-width: 870px;
    transition: height 0.3s ease;
}

.hide-text-content.js-collapsed {
    height: 90px;
}

.hide-text-content p:last-child {
    margin-bottom: 0;
}

.toggle-hide-text .svg-inline {
    transition: transform 0.3s ease;
}

.toggle-hide-text.js-active .svg-inline {
    transform: rotate(180deg);
}