/* SWIPER ============================ */

.swiper-custom-next,
.swiper-custom-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    width: 77px;
    height: 77px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    z-index: 10;
}

.swiper-custom-next:hover,
.swiper-custom-prev:hover {
    background-color: rgba(159, 147, 135, 0.80);
}

.swiper-custom-next.swiper-button-disabled,
.swiper-custom-prev.swiper-button-disabled {
    opacity: 0.45;
    background-color: transparent;
}

.swiper-custom-next {
    right: 69px;
    left: auto;
}

.swiper-custom-next svg {
    margin-left: 10px;
}

.swiper-custom-prev {
    left: 69px;
    right: auto;
}

.swiper-custom-prev svg {
    margin-right: 10px;
}

.swiper-with-scrollbar {
    --swiper-scrollbar-top: 1px;
    --swiper-scrollbar-bottom: auto;
    --swiper-scrollbar-size: 1px;
    --swiper-scrollbar-bg-color: rgba(172, 178, 191, 1);
    --swiper-scrollbar-drag-bg-color: rgba(2, 55, 143, 1);
    --swiper-scrollbar-border-radius: 0;
    padding-top: 41px;
}

.swiper-with-scrollbar .swiper-scrollbar-drag {
    outline: 1px solid var(--swiper-scrollbar-drag-bg-color);
}

@media (min-width: 992px) {
    .swiper-custom-next,
    .swiper-custom-prev {
        display: flex;
    }

    .swiper-with-scrollbar {
        padding-top: 0;
    }

    .swiper-with-scrollbar .swiper-scrollbar {
        display: none;
    }

}