<section class="section">
    <div class="container">
        <div class="row" style="--bs-gutter-y: 2rem;">
            <div class="col-lg-3">
                <div class="mb-4 mb-lg-3">
                    <h1 class="title">Личный кабинет</h1>
                    <div class="text-secondary fs-18px">профиль создан 12.02.2024</div>
                </div>
                <nav class="account-side-menu">
                    <ul class="account-side-menu__wrapper">
                        <li>
                            <a href="#" class="nav-link active">Личные данные</a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">Заказы</a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">История заказов</a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">Уведомления</a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">Запросить прайс</a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">Печать ценников</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-9">
                <div style="max-width: 600px;">

                    <div class="mb-32px">
                        <h4>Профиль</h4>
                        <form action="#">
                            <div class="mb-22px">
                                <input type="text" class="form-control" placeholder="Имя профиля*" required value="«Дизайн-студия Лотос» г. Ориенбург">
                            </div>
                            <div class="mb-22px">
                                <input type="email" class="form-control" placeholder="E-mail*" required value="trade-luvr@mail.ru">
                            </div>
                            <div class="mb-22px">
                                <input type="text" class="form-control" placeholder="Телефон" required value="8 (925) 689-15-19" readonly disabled>
                                <div class="text-muted-light small mt-12px">
                                    <a href="#" class="text-decoration-underline">сменить номер телефона</a>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="mb-32px">
                        <h4>Пользователи</h4>
                    </div>

                    <div class="mb-32px">
                        <div class="row" style="--bs-gutter-y: 1.5rem;">
                            <div class="col-md-6">
                                <h4>Обои</h4>
                                <p>Региональный представитель</p>
                                <p>Семен Cеменович Cеменов</p>
                                <p>isemen@masterdom.ru</p>
                                <p>+7 (903) 903-33-33</p>
                                <p></p>
                                <h5>Офис менеджер</h5>
                                <p>Павел Сергеевич Семенов</p>
                                <p>pavel@masterdom.ru</p>
                                <p>+7(919) 919-16-16</p>
                            </div>
                            <div class="col-md-6">
                                <h4>Плитка</h4>
                                <p class="text-primary fw-medium">ожидает подтверждения</p>
                                <p>Региональный представитель</p>
                                <p>Антон Антонович Антонов</p>
                                <p>isemen@masterdom.ru</p>
                                <p>+7 (903)-903-33-33</p>
                                <p></p>
                                <h5>Офис менеджер</h5>
                                <p>Павел Сергеевич Семенов</p>
                                <p>pavel@masterdom.ru</p>
                                <p>+7(919) 919-16-16</p>
                            </div>
                            <div class="col-md-6">
                                <h4>Краски</h4>
                                <p>Региональный представитель</p>
                                <p>Семен Cеменович Cеменов</p>
                                <p>isemen@masterdom.ru</p>
                                <p>+7 (903) 903-33-33</p>
                                <p></p>
                                <h5>Офис менеджер</h5>
                                <p>Павел Сергеевич Семенов</p>
                                <p>pavel@masterdom.ru</p>
                                <p>+7(919) 919-16-16</p>
                            </div>
                        </div>
                    </div>

                    <div class="mb-32px">
                        <h4>Плательщики</h4>
                        <div class="payers-wrapper">
                            <!-- item -->
                            <div class="item-payer">
                                <div class="item-payer__header">
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <div class="item-payer__title">ИП Ильин Александр Евгеньевич</div>
                                                </div>
                                                <div class="col">
                                                    <div class="item-payer__status text-primary">статус</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="prices-switch">
                                                <a href="#" id="switcherPayerID001">
                                                    <span class="sbtn " data-payerid="001" data-payerstatus="1">ВКЛ</span>
                                                    <span class="sbtn active" data-payerid="001" data-payerstatus="0">ВЫКЛ</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-payer__inn">ИНН: 772802873504</div>
                                <div class="item-payer__button">
                                    <button type="button" class="btn btn-text p-0 border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#collapsePayerID001" aria-expanded="false">
                                        <span class="span-show">подробнее</span>
                                        <span class="span-hide">скрыть</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8" fill="none">
                                            <path d="M1 0.944458L6.00196 6.82716C6.06052 6.89909 6.13086 6.95632 6.20874 6.99543C6.28661 7.03453 6.37041 7.05469 6.4551 7.05469C6.53976 7.05469 6.62358 7.03453 6.70145 6.99543C6.77932 6.95632 6.84966 6.89909 6.90823 6.82716L11.9102 0.944458" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </button>
                                </div>
                                <div class="collapse" id="collapsePayerID001">
                                    <div class="item-payer__info">
                                        <p>Адрес: Московская обл, Химки г, Бутаково ул, д.4</p>
                                        <p>Факт адрес: 117513, г. Москва, пр-кт Ленинский, д. 135, корп. 1, кв. 701</p>
                                        <p>ОГРН: 318774600128162</p>
                                        <h5>Банковские реквизиты</h5>
                                        <p>БАНК: АО "АЛЬФА-БАНК"</p>
                                        <p>РС: 40802810302320001968</p>
                                        <p>КС: 30101810200000000593</p>
                                        <p>БИК: 044525593</p>
                                    </div>
                                </div>
                            </div>

                            <!-- item -->
                            <div class="item-payer">
                                <div class="item-payer__header">
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <div class="item-payer__title">Общество с ограниченной ответственностью "ВС-Эстейт"</div>
                                                </div>
                                                <div class="col">
                                                    <div class="item-payer__status text-success">активен</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="prices-switch">
                                                <a href="#" id="switcherPayerID002">
                                                    <span class="sbtn active" data-payerid="002" data-payerstatus="1">ВКЛ</span>
                                                    <span class="sbtn " data-payerid="002" data-payerstatus="0">ВЫКЛ</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-payer__inn">ИНН: 7730649390</div>
                                <div class="item-payer__button">
                                    <button type="button" class="btn btn-text p-0 border-0" data-bs-toggle="collapse" data-bs-target="#collapsePayerID002" aria-expanded="false">
                                        <span class="span-show">подробнее</span>
                                        <span class="span-hide">скрыть</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8" fill="none">
                                            <path d="M1 0.944458L6.00196 6.82716C6.06052 6.89909 6.13086 6.95632 6.20874 6.99543C6.28661 7.03453 6.37041 7.05469 6.4551 7.05469C6.53976 7.05469 6.62358 7.03453 6.70145 6.99543C6.77932 6.95632 6.84966 6.89909 6.90823 6.82716L11.9102 0.944458" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </button>
                                </div>
                                <div class="collapse" id="collapsePayerID002">
                                    <div class="item-payer__info">
                                        <p>Адрес: Москва г, Большая Татарская ул, д.7</p>
                                        <p>Факт адрес: 115184, Г. МОСКВА, УЛ. БОЛЬШАЯ ТАТАРСКАЯ, Д. 7, ПОМ. I, КОМН. 10, 10Б, 10В</p>
                                        <p>ОГРН: 1117746645004</p>
                                        <h5>Банковские реквизиты</h5>
                                        <p>БАНК: АО "АЛЬФА-БАНК" г.Москва</p>
                                        <p>РС: 40702810401300018024</p>
                                        <p>КС: 30101810200000000593</p>
                                        <p>БИК: 044525593</p>
                                    </div>
                                </div>
                            </div>

                            <!-- item -->
                            <div class="item-payer">
                                <div class="item-payer__header">
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <div class="item-payer__title">ООО «Новый интерьер»</div>
                                                </div>
                                                <div class="col">
                                                    <div class="item-payer__status text-danger">неактивен</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="prices-switch">
                                                <a href="#" id="switcherPayerID003">
                                                    <span class="sbtn " data-payerid="003" data-payerstatus="1">ВКЛ</span>
                                                    <span class="sbtn active" data-payerid="003" data-payerstatus="0">ВЫКЛ</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-payer__inn">ИНН: 7743615134</div>
                                <div class="item-payer__button">
                                    <button type="button" class="btn btn-text p-0 border-0" data-bs-toggle="collapse" data-bs-target="#collapsePayerID003" aria-expanded="false">
                                        <span class="span-show">подробнее</span>
                                        <span class="span-hide">скрыть</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8" fill="none">
                                            <path d="M1 0.944458L6.00196 6.82716C6.06052 6.89909 6.13086 6.95632 6.20874 6.99543C6.28661 7.03453 6.37041 7.05469 6.4551 7.05469C6.53976 7.05469 6.62358 7.03453 6.70145 6.99543C6.77932 6.95632 6.84966 6.89909 6.90823 6.82716L11.9102 0.944458" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </button>
                                </div>
                                <div class="collapse" id="collapsePayerID003">
                                    <div class="item-payer__info">
                                        <p>Адрес: Москва г, 1-й Войковский проезд, д.16, кор.1</p>
                                        <p>Факт адрес: 125171, г. Москва, 1-й Войковский проезд, д.16, корп. 1</p>
                                        <p>ОГРН: 1067758019340</p>
                                        <h5>Банковские реквизиты</h5>
                                        <p>БАНК: ПАО Сбербанк (Публичное Акционерное  Общество "Сбербанк России")</p>
                                        <p>РС: 40702810438040114635</p>
                                        <p>КС: 30101810400000000225</p>
                                        <p>БИК: 044525225</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <form action="#" class="d-none">
                        <div class="mb-32px">
                            <div class="mb-22px">
                                <div class="form-floating">
                                    <input type="text" class="form-control" placeholder="Имя Фамилия*">
                                    <label>Имя Фамилия*</label>
                                </div>
                            </div>
                            <div class="mb-22px">
                                <select class="form-select">
                                    <option selected="">Пол</option>
                                    <option value="1">Мужчина</option>
                                    <option value="2">Женщина</option>
                                </select>
                            </div>
                            <div class="mb-22px">
                                <select class="form-select">
                                    <option selected="">Город</option>
                                    <option value="1">Москва</option>
                                    <option value="2">Казань</option>
                                </select>
                            </div>
                            <div class="mb-22px">
                                <input type="text" class="form-control" placeholder="дд.мм.гггг">
                            </div>
                            <div class="mb-22px">
                                <div class="form-floating">
                                    <input type="email" class="form-control" placeholder="Почта*">
                                    <label>Почта*</label>
                                </div>
                                <div class="text-muted-light small mt-12px">*Поля для обязательного заполнения</div>
                            </div>
                            <div class="mb-22px">
                                <input type="text" class="form-control" placeholder="8 (925) 689-15-19" disabled="">
                                <div class="text-muted-light small mt-12px">
                                    <a href="#" class="text-decoration-underline">сменить номер телефона</a>
                                </div>
                            </div>
                            <div class="mb-22px">
                                <div class="form-floating">
                                    <input type="text" class="form-control" placeholder="Адрес">
                                    <label>Адрес</label>
                                </div>
                            </div>
                            <div class="mb-22px">
                                <div class="form-floating">
                                    <input type="text" class="form-control" placeholder="Индекс">
                                    <label>Индекс</label>
                                </div>
                            </div>
                            <div class="mb-22px">
                                <div class="form-floating">
                                    <input type="password" class="form-control" placeholder="Пароль">
                                    <label>Пароль</label>
                                </div>
                                <div class="text-muted-light small mt-12px">Пароль должен содержать не менее 6 символов
                                </div>
                            </div>
                            <div class="mb-22px">
                                <div class="form-floating">
                                    <input type="password" class="form-control" placeholder="Подтверждение пароля">
                                    <label>Подтверждение пароля</label>
                                </div>
                            </div>
                        </div>
                        <div class="mb-12px">
                            <button type="submit" class="btn btn-outline w-100">сохранить изменения</button>
                        </div>
                        <div>
                            <label class="d-flex gap-2 align-items-center">
                                <input type="checkbox" class="form-checkbox">
                                <span>Принимаю условия <a href="#" class="text-decoration-underline">обработки
                                        персональных данных</a>.</span>
                            </label>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>