<section class="section">
    <div class="container">
        <div class="row" style="--bs-gutter-y: 2rem;">
            <div class="col-lg-3">
                <div class="mb-4 mb-lg-3">
                    <h1 class="title">Личный кабинет</h1>
                    <div class="text-secondary fs-18px">профиль создан 12.02.2024</div>
                </div>
                <nav class="account-side-menu">
                    <ul class="account-side-menu__wrapper">
                        <li>
                            <a href="#" class="nav-link active">Личные данные</a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">Заказы</a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">История заказов</a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">Уведомления</a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">Запросить прайс</a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">Печать ценников</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-9">
                <div style="max-width: 600px;">

                    <div class="mb-32px">
                        <h4>Профиль</h4>
                        <form action="#">
                            <div class="mb-22px">
                                <input type="text" class="form-control" placeholder="Имя профиля*" required value="«Дизайн-студия Лотос» г. Ориенбург">
                            </div>
                            <div class="mb-22px">
                                <input type="email" class="form-control" placeholder="E-mail*" required value="trade-luvr@mail.ru">
                            </div>
                            <div class="mb-22px">
                                <input type="text" class="form-control" placeholder="Телефон" required value="8 (925) 689-15-19" readonly disabled>
                                <div class="text-muted-light small mt-12px">
                                    <a href="#" class="text-decoration-underline">сменить номер телефона</a>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="mb-32px">
                        <h4>Пользователи</h4>
                    </div>

                    <div class="mb-32px">
                        <div class="row" style="--bs-gutter-y: 1.5rem;">
                            <div class="col-lg-6">
                                <h4>Обои</h4>
                                <div class="mb-22px">
                                    <p>Региональный представитель</p>
                                    <p>Семен Cеменович Cеменов</p>
                                    <p>isemen@masterdom.ru</p>
                                    <p>+7 (903) 903-33-33</p>
                                </div>
                                <div>
                                    <h5>Офис менеджер</h5>
                                    <p>Павел Сергеевич Семенов</p>
                                    <p>pavel@masterdom.ru</p>
                                    <p>+7(919) 919-16-16</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <h4>Плитка</h4>
                                <p class="text-primary fw-medium">ожидает подтверждения</p>
                                <div class="mb-22px">
                                    <p>Региональный представитель</p>
                                    <p>Антон Антонович Антонов</p>
                                    <p>isemen@masterdom.ru</p>
                                    <p>+7 (903)-903-33-33</p>
                                </div>
                                <div>
                                    <h5>Офис менеджер</h5>
                                    <p>Павел Сергеевич Семенов</p>
                                    <p>pavel@masterdom.ru</p>
                                    <p>+7(919) 919-16-16</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <h4>Краски</h4>
                                <div class="mb-22px">
                                    <p>Региональный представитель</p>
                                    <p>Семен Cеменович Cеменов</p>
                                    <p>isemen@masterdom.ru</p>
                                    <p>+7 (903) 903-33-33</p>
                                </div>
                                <div>
                                    <h5>Офис менеджер</h5>
                                    <p>Павел Сергеевич Семенов</p>
                                    <p>pavel@masterdom.ru</p>
                                    <p>+7(919) 919-16-16</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <form action="#" class="d-none">
                        <div class="mb-32px">
                            <div class="mb-22px">
                                <div class="form-floating">
                                    <input type="text" class="form-control" placeholder="Имя Фамилия*">
                                    <label>Имя Фамилия*</label>
                                </div>
                            </div>
                            <div class="mb-22px">
                                <select class="form-select">
                                    <option selected="">Пол</option>
                                    <option value="1">Мужчина</option>
                                    <option value="2">Женщина</option>
                                </select>
                            </div>
                            <div class="mb-22px">
                                <select class="form-select">
                                    <option selected="">Город</option>
                                    <option value="1">Москва</option>
                                    <option value="2">Казань</option>
                                </select>
                            </div>
                            <div class="mb-22px">
                                <input type="text" class="form-control" placeholder="дд.мм.гггг">
                            </div>
                            <div class="mb-22px">
                                <div class="form-floating">
                                    <input type="email" class="form-control" placeholder="Почта*">
                                    <label>Почта*</label>
                                </div>
                                <div class="text-muted-light small mt-12px">*Поля для обязательного заполнения</div>
                            </div>
                            <div class="mb-22px">
                                <input type="text" class="form-control" placeholder="8 (925) 689-15-19" disabled="">
                                <div class="text-muted-light small mt-12px">
                                    <a href="#" class="text-decoration-underline">сменить номер телефона</a>
                                </div>
                            </div>
                            <div class="mb-22px">
                                <div class="form-floating">
                                    <input type="text" class="form-control" placeholder="Адрес">
                                    <label>Адрес</label>
                                </div>
                            </div>
                            <div class="mb-22px">
                                <div class="form-floating">
                                    <input type="text" class="form-control" placeholder="Индекс">
                                    <label>Индекс</label>
                                </div>
                            </div>
                            <div class="mb-22px">
                                <div class="form-floating">
                                    <input type="password" class="form-control" placeholder="Пароль">
                                    <label>Пароль</label>
                                </div>
                                <div class="text-muted-light small mt-12px">Пароль должен содержать не менее 6 символов
                                </div>
                            </div>
                            <div class="mb-22px">
                                <div class="form-floating">
                                    <input type="password" class="form-control" placeholder="Подтверждение пароля">
                                    <label>Подтверждение пароля</label>
                                </div>
                            </div>
                        </div>
                        <div class="mb-12px">
                            <button type="submit" class="btn btn-outline w-100">сохранить изменения</button>
                        </div>
                        <div>
                            <label class="d-flex gap-2 align-items-center">
                                <input type="checkbox" class="form-checkbox">
                                <span>Принимаю условия <a href="#" class="text-decoration-underline">обработки
                                        персональных данных</a>.</span>
                            </label>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>