<div class="d-flex flex-wrap align-items-center justify-content-between gap-22px">
    <div class="d-flex align-items-center flex-wrap gap-22px">
        <div>
            <button type="button" class="btn btn-dropdown-arrow fs-16px border-0 p-0" data-bs-toggle="dropdown"
                aria-expanded="false">
                Статус заказа
                <span class="icon-arrow-down">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path
                            d="M4.54492 6.94495L9.54688 12.8277C9.60544 12.8996 9.67578 12.9568 9.75367 12.9959C9.83154 13.035 9.91533 13.0552 10 13.0552C10.0847 13.0552 10.1685 13.035 10.2464 12.9959C10.3242 12.9568 10.3946 12.8996 10.4532 12.8277L15.4551 6.94495"
                            stroke="#474A51" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </span>
            </button>
            <ul class="dropdown-menu dropdown-select">
                <li><a class="dropdown-item" href="#">Ожидает подтверждения</a></li>
                <li><a class="dropdown-item" href="#">Подтвержден</a></li>
                <li><a class="dropdown-item" href="#">Собран</a></li>
                <li><a class="dropdown-item" href="#">В доставке</a></li>
                <li><a class="dropdown-item" href="#">Доставлен</a></li>
                <li><a class="dropdown-item" href="#">Отменен</a></li>
            </ul>
        </div>
        <div>
            <button type="button" class="btn btn-dropdown-arrow fs-16px border-0 p-0" data-bs-toggle="dropdown" aria-expanded="false">
                Статус оплаты
                <span class="icon-arrow-down">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path
                            d="M4.54492 6.94495L9.54688 12.8277C9.60544 12.8996 9.67578 12.9568 9.75367 12.9959C9.83154 13.035 9.91533 13.0552 10 13.0552C10.0847 13.0552 10.1685 13.035 10.2464 12.9959C10.3242 12.9568 10.3946 12.8996 10.4532 12.8277L15.4551 6.94495"
                            stroke="#474A51" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </span>
            </button>
            <ul class="dropdown-menu dropdown-select">
                <li><a class="dropdown-item" href="#">Оплачен</a></li>
                <li><a class="dropdown-item" href="#">Не оплачен</a></li>
            </ul>
        </div>
    </div>
    <button type="button" class="btn d-inline-flex align-items-center gap-2 border-0 p-0">
        <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27" fill="none">
            <path d="M22 6L6.44365 21.5564" stroke="#1A1A16" stroke-width="0.853923" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M6 6L21.5564 21.5564" stroke="#1A1A16" stroke-width="0.853923" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <span>Сбросить фильтры</span>
    </button>
</div>