<div class="modal fade" id="changeMethodShipmentModal" tabindex="-1"
    aria-labelledby="changeMethodShipmentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#addOrderShipmentModal" class="btn-back" data-bs-toggle="modal">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="51" height="9" viewBox="0 0 51 9" fill="none">
                            <path
                                d="M0.646446 4.14644C0.451183 4.3417 0.451183 4.65829 0.646446 4.85355L3.82843 8.03553C4.02369 8.23079 4.34027 8.23079 4.53553 8.03553C4.7308 7.84027 4.7308 7.52369 4.53553 7.32842L1.70711 4.5L4.53553 1.67157C4.7308 1.47631 4.7308 1.15972 4.53553 0.964462C4.34027 0.7692 4.02369 0.7692 3.82843 0.964462L0.646446 4.14644ZM51 4L1 4L1 5L51 5L51 4Z"
                                fill="currentColor" />
                        </svg>
                    </span>
                    <span class="fw-medium">назад</span>
                </a>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="content-widget max-w-800px">
                    <div class="h4 mb-22px">Изменить способ отгрузки</div>
                    <div class="row" style="--bs-gutter-y: 22px;">

                        <div class="col-lg-12">
                            <!-- Самовывоз -->
                            <div class="checkout-radio-card" data-group="delivery">
                                <div class="checkout-radio-card__header">
                                    <label class="d-flex justify-content-between gap-2 mb-12px">
                                        <div class="h4 fw-normal text-uppercase mb-0">Самовывоз</div>
                                        <input type="radio" name="checkout-delivery" class="form-radio" data-parent-radio>
                                    </label>
                                    <div class="text-success fw-semibold mb-2">Бесплатно</div>
                                </div>
                                <div class="checkout-radio-card__body">

                                    <!-- item «Забрать из магазина» -->
                                    <div class="item-pickup-option">
                                        <!-- Кнопка -->
                                        <label class="item-pickup-option__btn">
                                            <div class="d-flex align-items-center gap-12px">
                                                <!-- icon-map-marker -->
                                                <span>
                                                    <svg width="32" height="32">
                                                        <use xlink:href="img/sprite.svg#icon-map-marker">
                                                        </use>
                                                    </svg>
                                                </span>
                                                <div class="fw-medium">Забрать из магазина</div>
                                            </div>
                                            <input type="radio" name="checkout-delivery-pickup" class="form-radio" data-child-radio>
                                        </label>
                                        <div class="item-pickup-option__body">
                                            <!-- Адрес -->
                                            <div class="mb-3">
                                                <p class="h4 ff-title fw-normal mb-12px">МастерДом на
                                                    Профсоюзной</p>
                                                <p class="mb-12px">г. Москва, Нахимовский проспект, д.59а
                                                </p>
                                                <div class="d-flex flex-wrap gap-2 mb-12px">
                                                    <div class="item-metro">Профсоюзная, 15 м</div>
                                                    <div class="item-metro">Профсоюзная, 15 м</div>
                                                </div>
                                                <div class="d-flex flex-wrap gap-22px mb-12px"
                                                    style="--bs-link-color-rgb: var(--bs-secondary-rgb); --bs-link-hover-color-rgb: var(--bs-primary-rgb);">
                                                    <a href="tel:88003503243" class="item-phone">8 (800)
                                                        350-32-43</a>
                                                    <a href="mailto:info@mail.ru"
                                                        class="item-email">info@mail.ru</a>
                                                </div>
                                                <div class="text-primary fw-medium">c 18 января</div>
                                            </div>
                                            <!-- Инфо условий и оплаты -->
                                            <div>
                                                <p class="fw-medium mb-1">Условия получения заказа со склада</p>
                                                <p class="text-muted-light">Заказ пропуска (ФИО + номер
                                                    документа + гос.
                                                    номер машины).Ежедневно с 10:00 до 17:00.</p>
                                                <p class="fw-medium mb-1">Оплата</p>
                                                <p class="text-muted-light">Онлайн, Оплата в фирменном
                                                    салоне наличным или
                                                    безналичным способами оплаты в кассе.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- item «Центральный склад» -->
                                    <div class="item-pickup-option">
                                        <!-- Кнопка -->
                                        <label class="item-pickup-option__btn">
                                            <div class="d-flex align-items-center gap-12px">
                                                <!-- icon-map-marker -->
                                                <span>
                                                    <svg width="32" height="32">
                                                        <use xlink:href="img/sprite.svg#icon-map-marker">
                                                        </use>
                                                    </svg>
                                                </span>
                                                <div class="fw-medium">Центральный склад</div>
                                            </div>
                                            <input type="radio" name="checkout-delivery-pickup"
                                                class="form-radio" data-child-radio>
                                        </label>
                                        <div class="item-pickup-option__body">
                                            <!-- Адрес -->
                                            <div class="mb-3">
                                                <p class="h4 ff-title fw-normal mb-12px">Адрес</p>
                                                <p class="mb-12px">Московская область, Зелёное шоссе, 2</p>
                                                <div class="d-flex flex-wrap gap-22px mb-12px"
                                                    style="--bs-link-color-rgb: var(--bs-secondary-rgb); --bs-link-hover-color-rgb: var(--bs-primary-rgb);">
                                                    <a href="tel:88003503243" class="item-phone">8 (800)
                                                        350-32-43</a>
                                                </div>
                                                <div class="text-primary fw-medium">c 18 января</div>
                                            </div>
                                            <!-- Инфо условий и оплаты -->
                                            <div>
                                                <p class="fw-medium mb-1">Условия получения заказа со склада
                                                </p>
                                                <p class="text-muted-light">Заказ пропуска (ФИО + номер
                                                    документа + гос.
                                                    номер машины).Ежедневно с 10:00 до 17:00.</p>
                                                <p class="fw-medium mb-1">Оплата</p>
                                                <p class="text-muted-light">Онлайн, Оплата в фирменном
                                                    салоне наличным или
                                                    безналичным способами оплаты в кассе.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- item «Склад в Тюмени» -->
                                    <div class="item-pickup-option">
                                        <!-- Кнопка -->
                                        <label class="item-pickup-option__btn">
                                            <div class="d-flex align-items-center gap-12px">
                                                <!-- icon-map-marker -->
                                                <span>
                                                    <svg width="32" height="32">
                                                        <use xlink:href="img/sprite.svg#icon-map-marker">
                                                        </use>
                                                    </svg>
                                                </span>
                                                <div class="fw-medium">Склад в Тюмени</div>
                                            </div>
                                            <input type="radio" name="checkout-delivery-pickup"
                                                class="form-radio" data-child-radio>
                                        </label>
                                        <div class="item-pickup-option__body">
                                            <!-- Адрес -->
                                            <div class="mb-3">
                                                <p class="h4 ff-title fw-normal mb-12px">МастерДом на
                                                    Профсоюзной</p>
                                                <p class="mb-12px">г. Москва, Нахимовский проспект, д.59а
                                                </p>
                                                <div class="d-flex flex-wrap gap-2 mb-12px">
                                                    <div class="item-metro">Профсоюзная, 15 м</div>
                                                    <div class="item-metro">Профсоюзная, 15 м</div>
                                                </div>
                                                <div class="d-flex flex-wrap gap-22px mb-12px"
                                                    style="--bs-link-color-rgb: var(--bs-secondary-rgb); --bs-link-hover-color-rgb: var(--bs-primary-rgb);">
                                                    <a href="tel:88003503243" class="item-phone">8 (800)
                                                        350-32-43</a>
                                                    <a href="mailto:info@mail.ru"
                                                        class="item-email">info@mail.ru</a>
                                                </div>
                                                <div class="text-primary fw-medium">c 18 января</div>
                                            </div>
                                            <!-- Инфо условий и оплаты -->
                                            <div>
                                                <p class="fw-medium mb-1">Условия получения заказа со склада
                                                </p>
                                                <p class="text-muted-light">Заказ пропуска (ФИО + номер
                                                    документа + гос.
                                                    номер машины).Ежедневно с 10:00 до 17:00.</p>
                                                <p class="fw-medium mb-1">Оплата</p>
                                                <p class="text-muted-light">Онлайн, Оплата в фирменном
                                                    салоне наличным или
                                                    безналичным способами оплаты в кассе.</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <!-- Доставка транспортной компанией -->
                            <div class="checkout-radio-card" data-group="delivery">
                                <div class="checkout-radio-card__header">
                                    <label class="d-flex justify-content-between gap-2 mb-12px">
                                        <div class="h4 fw-normal text-uppercase mb-0">Доставка транспортной
                                            компанией</div>
                                        <input type="radio" name="checkout-delivery" class="form-radio"
                                            data-parent-radio>
                                    </label>
                                    <div class="text-primary fw-semibold mb-2">от 1000 ₽</div>
                                    <div class="mb-1">от 2-7 дней с 10-18 часов</div>
                                    <div class="fs-6 text-muted-light">*Точное время лоставки уточняйте у
                                        менеждера</div>
                                </div>
                                <div class="checkout-radio-card__body">
                                    <div class="mb-5">
                                        <div class="mb-12px">
                                            <select class="form-select">
                                                <option selected="">Выбрать ТК</option>
                                                <option value="1">ТК «Название 1»</option>
                                                <option value="2">ТК «Название 2»</option>
                                                <option value="2">ТК «Название 3»</option>
                                                <option value="2">ТК «Название 4»</option>
                                                <option value="2">ТК «Название 5»</option>
                                            </select>
                                        </div>
                                        <div class="mb-12px">
                                            <label
                                                class="d-flex gap-2 align-items-center">
                                                <input type="radio" name="checkout-delivery-tc"
                                                    class="form-radio" data-child-radio>
                                                <span>Доставка до терминала ТК</span>
                                            </label>
                                        </div>
                                        <div class="mb-12px">
                                            <label
                                                class="d-flex gap-2 align-items-center">
                                                <input type="radio" name="checkout-delivery-tc"
                                                    class="form-radio" data-child-radio>
                                                <span>Доставка до покупателя средствами ТК</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="fs-6">
                                        <p class="fw-medium mb-1">Условия получения заказа</p>
                                        <p>1. На месте, где предполагается разгрузка, необходимо иметь
                                            доступ для грузового
                                            автомобиля.</p>
                                        <p>2. Чтобы избежать повторной платной доставки, пожалуйста, будьте
                                            на месте для приема
                                            товара в указанное время, так как водитель не может ждать более
                                            20 минут из-за его
                                            графика.</p>
                                        <p>3. При расчете стоимости доставки учитывается общий вес и объем
                                            товаров.</p>
                                        <p class="fw-medium mb-1">Оплата</p>
                                        <p class="text-muted-light">Онлайн, наличными при получении</p>
                                        <p class="text-primary">*Доставка разных категорий товаров считается
                                            по максимальной:
                                            обои-свет, плитка-сантехника, крупный формат.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <!-- Доставка до Торговой точки/Склада -->
                            <div class="checkout-radio-card" data-group="delivery">
                                <div class="checkout-radio-card__header">
                                    <label class="d-flex justify-content-between gap-2 mb-12px">
                                        <div class="h4 fw-normal text-uppercase mb-0">Доставка до Торговой
                                            точки/Склада</div>
                                        <input type="radio" name="checkout-delivery" class="form-radio"
                                            data-parent-radio>
                                    </label>
                                    <div class="text-success fw-semibold mb-2">Бесплатно</div>
                                    <!-- <div class="mb-1">Условия получения заказа со склада</div> -->
                                    <div class="fs-6 text-muted-light">Заказ пропуска (ФИО + номер документа
                                        + гос. номер
                                        машины).<br> Ежедневно с 10:00 до 17:00.</div>
                                </div>
                                <!-- <div class="checkout-radio-card__body">
                                </div> -->
                            </div>
                        </div>

                    </div>
                </div>
                <div class="content-widget max-w-full">
                    <button type="submit" class="btn btn-secondary">сохранить изменения</button>
                </div>
            </div>
        </div>
    </div>
</div>