<div class="modal fade" id="addOrderShipmentModal" tabindex="-1" aria-labelledby="addOrderShipmentModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title h5" id="addNewPayerModalLabel">Заполните необходимые поля</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <style>
                    .conditional-block {
                        display: none;
                        opacity: 0;
                        transition: opacity 0.2s ease-in-out;
                    }
                    .conditional-block.active {
                        display: block;
                        opacity: 1;
                    }
                    .toast-container {
                        position: fixed;
                        top: 20px;
                        right: 20px;
                        z-index: 9999;
                    }
                </style>

                <!-- Toast контейнер -->
                <div class="toast-container"></div>

                <form id="checkoutForm" action="#" class="small-floating-labels">
                    <div class="content-widget max-w-700px">
                        <p class="fw-medium mb-12px">Способ отгрузки</p>

                        <!-- Выбор способа отгрузки -->
                        <div class="d-flex flex-column gap-3" role="tablist">
                            <label class="d-flex gap-2 align-items-center active" role="tab" data-bs-toggle="tab" data-bs-target="#selfPickup">
                                <input type="radio" name="deliveryMethod" class="form-radio" value="sp" checked>
                                <span>Самовывоз</span>
                            </label>
                            <label class="d-flex gap-2 align-items-center" role="tab" data-bs-toggle="tab" data-bs-target="#deliveryByTK">
                                <input type="radio" name="deliveryMethod" class="form-radio" value="tk">
                                <span>Доставка транспортной компанией</span>
                            </label>
                            <label class="d-flex gap-2 align-items-center" role="tab" data-bs-toggle="tab" data-bs-target="#deliveryByTT">
                                <input type="radio" name="deliveryMethod" class="form-radio" value="tt">
                                <span>Доставка до торговой точки / склада</span>
                            </label>
                        </div>
                        
                        <!-- Кнопка "Изменить" -->
                        <div class="mt-4">
                            <a href="#" class="btn btn-outline" data-bs-toggle="modal" data-bs-target="#changeMethodShipmentModal">изменить</a>
                        </div>

                    </div>
                    <div class="content-widget max-w-700px">
                        <div class="tab-content">

                            <!-- ========== САМОВЫВОЗ ========== -->
                            <div class="tab-pane fade show active" role="tabpanel" id="selfPickup">
                                <!-- Время и дата самовывоза -->
                                <div class="mb-4 mb-lg-5 max-w-540px">
                                    <p class="fw-medium mb-12px">Время и дата самовывоза</p>
                                    <div class="mb-12px">
                                        <select class="form-select">
                                            <option selected="">Выберите интервал времени</option>
                                            <option value="1">9:00 - 10:00</option>
                                            <option value="2">10:00 - 11:00</option>
                                            <option value="2">11:00 - 12:00</option>
                                            <option value="2">12:00 - 13:00</option>
                                            <option value="2">13:00 - 14:00</option>
                                            <option value="2">14:00 - 15:00</option>
                                            <option value="2">15:00 - 16:00</option>
                                            <option value="2">16:00 - 17:00</option>
                                            <option value="2">17:00 - 18:00</option>
                                            <option value="2">18:00 - 19:00</option>
                                            <option value="2">19:00 - 20:00</option>
                                            <option value="2">20:00 - 21:00</option>
                                        </select>
                                    </div>
                                    <div class="mb-12px">
                                        <input type="date" class="form-control">
                                    </div>
                                </div>
                                <!-- Данные для пропуска -->
                                <div class="mb-4 mb-lg-5 max-w-540px">
                                    <p class="fw-medium mb-12px">Данные для пропуска</p>
                                    <p class="small text-muted-light">Пропуск необходимо заказывать на водителя с
                                        машиной<br> и на каждого пассажира отдельно.</p>
                                    <div class="visitorPass">
                                        <div class="visitorPass__data">
                                            <div class="mb-12px">
                                                <div class="form-floating">
                                                    <input type="text" class="form-control"
                                                        placeholder="ФИО (водителя)">
                                                    <label>ФИО (водителя)</label>
                                                </div>
                                            </div>
                                            <div class="mb-12px">
                                                <div class="form-floating">
                                                    <input type="text" class="form-control" placeholder="Тип документа">
                                                    <label>Тип документа</label>
                                                </div>
                                            </div>
                                            <div class="mb-12px">
                                                <div class="form-floating">
                                                    <input type="text" class="form-control"
                                                        placeholder="Номер документа">
                                                    <label>Номер документа</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="visitorPass__button mb-12px">
                                            <button type="button" class="btn btn-text p-0 border-0">
                                                <svg class="me-1" xmlns="http://www.w3.org/2000/svg" width="16"
                                                    height="16" viewBox="0 0 16 16" fill="none">
                                                    <path
                                                        d="M16 9.13208H9.15862V16H6.84138V9.13208H0V6.90566H6.84138V0H9.15862V6.90566H16V9.13208Z"
                                                        fill="currentColor"></path>
                                                </svg>
                                                <span class="align-middle">Добавить пассажира</span>
                                            </button>
                                            <p class="small text-muted-light mt-12px">пропуск
                                                оформляется на каждого пассажира</p>
                                        </div>
                                    </div>
                                    <div class="mb-12px">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" placeholder="Номер автомобиля">
                                            <label>Номер автомобиля</label>
                                        </div>
                                    </div>
                                    <div class="mb-12px">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" placeholder="Номер прицепа">
                                            <label>Номер прицепа</label>
                                        </div>
                                        <label class="d-flex gap-2 align-items-center mt-12px">
                                            <input type="checkbox" class="form-checkbox" value="">
                                            <span class="small text-muted-light">иностранный номер
                                                машины/прицепа</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <!-- ========== ДОСТАВКА ТРАНСПОРТНОЙ КОМПАНИЕЙ ========== -->
                            <div class="tab-pane fade" role="tabpanel" id="deliveryByTK">

                                <!-- Message: -->
                                <div class="mb-4 mb-lg-5">
                                    <div class="bg-danger-subtle text-danger-emphasis p-3 mb-0">
                                        Заявку на доставку необходимо подать <b>не позднее 16:00 за день до планируемой доставки!</b>
                                    </div>
                                </div>

                                <!-- Транспортная компания -->
                                <div class="mb-4 mb-lg-5 max-w-540px">
                                    <p class="fw-medium mb-12px">Транспортная компания:</p>
                                    <div class="mb-12px">
                                        <select id="tkSelect" class="form-select" data-conditional-trigger>
                                            <option value="">Выбрать ТК</option>
                                            <option value="1">ТК «Название 1»</option>
                                            <option value="2">ТК «Название 2»</option>
                                            <option value="3">ТК «Название 3»</option>
                                            <option value="4">ТК «Название 4»</option>
                                            <option value="5">ТК «Название 5»</option>
                                            <option value="nolist">НЕТ В СПИСКЕ</option>
                                        </select>
                                    </div>

                                    <!-- Своя ТК -->
                                    <div class="conditional-block mb-12px" data-condition="tkSelect" data-show-when="nolist">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" placeholder="Ваша транспортная компания" data-required-when-visible>
                                            <label>Ваша транспортная компания</label>
                                        </div>
                                    </div>

                                    <!-- Выбор даты -->
                                    <div class="mb-12px">
                                        <input type="date" class="form-control">
                                    </div>
                                </div>

                                <!-- Адрес терминала (для стандартных ТК) -->
                                <div class="conditional-block mb-4 mb-lg-5 max-w-540px" data-condition="tkSelect" data-show-when-not=",nolist">
                                    <p class="fw-medium mb-12px">Адрес терминала:</p>
                                    <div class="fs-4 fw-medium text-primary">Москва, Рябиновая ул., 37, стр. 5</div>
                                </div>

                                <!-- Адрес терминала (для своей ТК) -->
                                <div class="conditional-block mb-4 mb-lg-5" data-condition="tkSelect" data-show-when="nolist">
                                    <p class="fw-medium mb-12px">Адрес терминала (Москва и МО):</p>
                                    
                                    <div class="mb-12px">
                                        <select id="terminalAddress" class="form-select" data-conditional-trigger data-save-new-option>
                                            <option value="">Выберите адрес</option>
                                            <option value="t1">ул. Складская, д. 10, корп. 2</option>
                                            <option value="t2">ул. Промышленная, д. 5</option>
                                            <option value="t3">Варшавское шоссе, д. 125, к3</option>
                                            <option value="nolist">НОВЫЙ АДРЕС</option>
                                        </select>
                                    </div>

                                    <!-- Кнопка удаления -->
                                    <div class="conditional-block mb-12px" data-condition="terminalAddress" data-show-when-not=",nolist">
                                        <a href="#" class="fs-14px text-danger" data-delete-option="terminalAddress">удалить этот адрес</a>
                                    </div>

                                    <!-- Форма нового адреса -->
                                    <div class="conditional-block" data-condition="terminalAddress" data-show-when="nolist">
                                        <div class="row" style="--bs-gutter-y: 22px;">
                                            <div class="col-12">
                                                <div class="form-floating">
                                                    <input type="text" id="terminalAddress_street" class="form-control" placeholder="Адрес*" data-required-when-visible>
                                                    <label>Адрес*</label>
                                                </div>
                                            </div>
                                            <div class="col-6 col-lg">
                                                <div class="form-floating">
                                                    <input type="text" id="terminalAddress_house" class="form-control" placeholder="Дом*" data-required-when-visible>
                                                    <label>Дом*</label>
                                                </div>
                                            </div>
                                            <div class="col-6 col-lg">
                                                <div class="form-floating">
                                                    <input type="text" id="terminalAddress_building" class="form-control" placeholder="Корпус/Владение">
                                                    <label>Корпус/Владение</label>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <button type="button" class="btn btn-secondary" data-save-address="terminalAddress" data-fields="street,house,building">
                                                    Сохранить этот адрес
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Вид доставки -->
                                <div class="conditional-block mb-4 mb-lg-5" data-condition="tkSelect" data-show-when="nolist">
                                    <p class="fw-medium mb-12px">Вид доставки:</p>
                                    <div class="d-flex flex-column gap-3">
                                        <label class="d-flex gap-2 align-items-center">
                                            <input type="radio" name="deliveryMyTransferCompanyType" class="form-radio" value="terminal" data-conditional-trigger data-reset-children>
                                            <span>Доставка до терминала</span>
                                        </label>
                                        <label class="d-flex gap-2 align-items-center">
                                            <input type="radio" name="deliveryMyTransferCompanyType" class="form-radio" value="address" data-conditional-trigger data-reset-children>
                                            <span>Доставка до адреса</span>
                                        </label>
                                    </div>
                                </div>

                                <!-- Информация о получателе -->
                                <div class="conditional-block mb-4 mb-lg-5 max-w-540px" data-condition="tkSelect" data-show-when-not="">
                                    <p class="fw-medium mb-12px">Информация о получателе:</p>
                                    <div class="mb-12px">
                                        <select class="form-select">
                                            <option value="">Организация</option>
                                            <option value="org1">ООО «Рога и Копыта»</option>
                                            <option value="org2">ООО «Ромашка»</option>
                                            <option value="org3">ООО «Одуванчик»</option>
                                        </select>
                                    </div>
                                    <div class="mb-12px">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" placeholder="ИНН*" data-required-when-visible>
                                            <label>ИНН*</label>
                                        </div>
                                    </div>
                                    <div class="mb-12px">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" placeholder="ОГРН*" data-required-when-visible>
                                            <label>ОГРН*</label>
                                        </div>
                                    </div>
                                    <div class="conditional-block mb-12px" data-condition="tkSelect" data-show-when="nolist">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" placeholder="Город*" data-required-when-visible>
                                            <label>Город*</label>
                                        </div>
                                    </div>
                                    <div class="mb-12px">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" placeholder="Телефон*" data-required-when-visible>
                                            <label>Телефон*</label>
                                        </div>
                                    </div>
                                    <div class="mb-12px">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" placeholder="Дополнительный телефон">
                                            <label>Дополнительный телефон</label>
                                        </div>
                                    </div>
                                </div>

                                <!-- Адрес доставки -->
                                <div class="conditional-block mb-4 mb-lg-5" data-condition="deliveryMyTransferCompanyType" data-show-when="address">
                                    <p class="fw-medium mb-12px">Адрес доставки:</p>

                                    <div class="mb-12px">
                                        <select id="deliveryAddress" class="form-select" data-conditional-trigger data-save-new-option>
                                            <option value="">Выберите адрес</option>
                                            <option value="d1">ул. Тверская, д. 15, корп. 1, оф. 205</option>
                                            <option value="d2">Ленинский проспект, д. 42, оф. 301</option>
                                            <option value="d3">ул. Новый Арбат, д. 24, корп. А, оф. 12</option>
                                            <option value="nolist">НОВЫЙ АДРЕС</option>
                                        </select>
                                    </div>

                                    <!-- Кнопка удаления -->
                                    <div class="conditional-block mb-12px" data-condition="deliveryAddress" data-show-when-not=",nolist">
                                        <a href="#" class="fs-14px text-danger" data-delete-option="deliveryAddress">удалить этот адрес</a>
                                    </div>

                                    <!-- Форма нового адреса -->
                                    <div class="conditional-block" data-condition="deliveryAddress" data-show-when="nolist">
                                        <div class="row" style="--bs-gutter-y: 22px;">
                                            <div class="col-12">
                                                <div class="form-floating">
                                                    <input type="text" id="deliveryAddress_street" class="form-control" placeholder="Адрес*" data-required-when-visible>
                                                    <label>Адрес*</label>
                                                </div>
                                            </div>
                                            <div class="col-6 col-lg">
                                                <div class="form-floating">
                                                    <input type="text" id="deliveryAddress_house" class="form-control" placeholder="Дом*" data-required-when-visible>
                                                    <label>Дом*</label>
                                                </div>
                                            </div>
                                            <div class="col-6 col-lg">
                                                <div class="form-floating">
                                                    <input type="text" id="deliveryAddress_building" class="form-control" placeholder="Корпус/Владение">
                                                    <label>Корпус/Владение</label>
                                                </div>
                                            </div>
                                            <div class="col-6 col-lg">
                                                <div class="form-floating">
                                                    <input type="text" id="deliveryAddress_office" class="form-control" placeholder="Офис">
                                                    <label>Офис</label>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-floating">
                                                    <input type="text" id="deliveryAddress_shopName" class="form-control" placeholder="Название торговой точки*" data-required-when-visible>
                                                    <label>Название торговой точки*</label>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <button type="button" class="btn btn-secondary" data-save-address="deliveryAddress" data-fields="street,house,building,office,shopName">
                                                    Сохранить этот адрес
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Комментарий к заказу -->
                                <div class="conditional-block mb-4 mb-lg-5" data-condition="tkSelect" data-show-when-not="">
                                    <textarea class="form-control" rows="3" placeholder="Комментарий к заказу"></textarea>
                                </div>
                            </div>

                            <!-- ========== ДОСТАВКА ДО ТОРГОВОЙ ТОЧКИ / СКЛАДА ========== -->
                            <div class="tab-pane fade" role="tabpanel" id="deliveryByTT">

                                <!-- Адрес -->
                                <div class="mb-4 mb-lg-5">
                                    <p class="fw-medium mb-12px">Адрес:</p>
                                    
                                    <div class="mb-12px">
                                        <select id="tradingPointAddress" class="form-select" data-conditional-trigger data-save-new-option>
                                            <option value="">Выберите адрес</option>
                                            <option value="tp1">ул. Ленина, д. 25, вх. 2, пав. А5</option>
                                            <option value="tp2">Площадь Революции, д. 1, вх. 1, пав. Б12</option>
                                            <option value="tp3">ул. Садовая, д. 8, корп. 1, вх. 3</option>
                                            <option value="nolist">НОВЫЙ АДРЕС</option>
                                        </select>
                                    </div>

                                    <!-- Кнопка удаления -->
                                    <div class="conditional-block mb-12px" data-condition="tradingPointAddress" data-show-when-not=",nolist">
                                        <a href="#" class="fs-14px text-danger" data-delete-option="tradingPointAddress">удалить этот адрес</a>
                                    </div>

                                    <!-- Форма нового адреса -->
                                    <div class="conditional-block" data-condition="tradingPointAddress" data-show-when="nolist">
                                        <div class="row" style="--bs-gutter-y: 22px;">
                                            <div class="col-12">
                                                <div class="form-floating">
                                                    <input type="text" id="tradingPointAddress_street" class="form-control" placeholder="Адрес*" data-required-when-visible>
                                                    <label>Адрес*</label>
                                                </div>
                                            </div>
                                            <div class="col-6 col-lg">
                                                <div class="form-floating">
                                                    <input type="text" id="tradingPointAddress_house" class="form-control" placeholder="Дом*" data-required-when-visible>
                                                    <label>Дом*</label>
                                                </div>
                                            </div>
                                            <div class="col-6 col-lg">
                                                <div class="form-floating">
                                                    <input type="text" id="tradingPointAddress_building" class="form-control" placeholder="Корпус/Владение">
                                                    <label>Корпус/Владение</label>
                                                </div>
                                            </div>
                                            <div class="col-6 col-lg">
                                                <div class="form-floating">
                                                    <input type="text" id="tradingPointAddress_entrance" class="form-control" placeholder="Вход">
                                                    <label>Вход</label>
                                                </div>
                                            </div>
                                            <div class="col-6 col-lg">
                                                <div class="form-floating">
                                                    <input type="text" id="tradingPointAddress_pavilion" class="form-control" placeholder="Павильон">
                                                    <label>Павильон</label>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <button type="button" class="btn btn-secondary" data-save-address="tradingPointAddress" data-fields="street,house,building,entrance,pavilion">
                                                    Сохранить этот адрес
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Чекбоксы -->
                                    <div class="d-flex flex-column flex-lg-row flex-wrap gap-3 mt-3">
                                        <label class="d-flex gap-2 align-items-center">
                                            <input type="checkbox" class="form-checkbox" value="">
                                            <span>нужна разгрузка</span>
                                        </label>
                                        <label class="d-flex gap-2 align-items-center">
                                            <input type="checkbox" class="form-checkbox" value="">
                                            <span>подьем на этаж</span>
                                        </label>
                                        <label class="d-flex gap-2 align-items-center">
                                            <input type="checkbox" class="form-checkbox" value="">
                                            <span>нет лифта</span>
                                        </label>
                                        <label class="d-flex gap-2 align-items-center">
                                            <input type="checkbox" class="form-checkbox" value="">
                                            <span>паркинг</span>
                                        </label>
                                    </div>
                                </div>

                                <!-- Дата доставки -->
                                <div class="mb-4 mb-lg-5 max-w-540px">
                                    <p class="fw-medium mb-12px">Дата доставки:</p>
                                    <div class="mb-12px">
                                        <input type="date" class="form-control">
                                    </div>
                                </div>

                                <!-- Время работы -->
                                <div class="mb-4 mb-lg-5 max-w-540px">
                                    <p class="fw-medium mb-12px">Время работы:</p>
                                    <div class="mb-12px">
                                        <select class="form-select">
                                            <option value="">Выберите интервал времени</option>
                                            <option value="1">9:00 - 10:00</option>
                                            <option value="2">10:00 - 11:00</option>
                                            <option value="3">11:00 - 12:00</option>
                                            <option value="4">12:00 - 13:00</option>
                                            <option value="5">13:00 - 14:00</option>
                                            <option value="6">14:00 - 15:00</option>
                                            <option value="7">15:00 - 16:00</option>
                                            <option value="8">16:00 - 17:00</option>
                                            <option value="9">17:00 - 18:00</option>
                                            <option value="10">18:00 - 19:00</option>
                                            <option value="11">19:00 - 20:00</option>
                                            <option value="12">20:00 - 21:00</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Информация о получателе -->
                                <div class="mb-4 mb-lg-5 max-w-540px">
                                    <p class="fw-medium mb-12px">Информация о получателе:</p>
                                    <div class="mb-12px">
                                        <select class="form-select">
                                            <option value="">Организация</option>
                                            <option value="org1">ООО «Рога и Копыта»</option>
                                            <option value="org2">ООО «Ромашка»</option>
                                            <option value="org3">ООО «Одуванчик»</option>
                                        </select>
                                    </div>
                                    <div class="mb-12px">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" placeholder="Телефон*">
                                            <label>Телефон*</label>
                                        </div>
                                        <div class="form-floating">
                                            <input type="text" class="form-control" placeholder="Дополнительный телефон">
                                            <label>Дополнительный телефон</label>
                                        </div>
                                    </div>
                                </div>

                                <!-- Комментарий -->
                                <div class="mb-4 mb-lg-5 max-w-540px">
                                    <textarea class="form-control" rows="3" placeholder="Комментарий к заказу"></textarea>
                                </div>

                                <!-- Чекбокс -->
                                <div class="mb-4 mb-lg-5">
                                    <div class="mb-12px">
                                        <label class="d-flex gap-2 align-items-center">
                                            <input type="checkbox" class="form-checkbox" value="">
                                            <span>отгрузить по готовности</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="content-widget max-w-700px">
                        <button type="submit" class="btn btn-secondary">оформить отгрузку</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>