<section class="section section-blog-slider">
    <!-- Заголовок -->
    <h2 class="title">Блог</h2>
    <!-- Навигация табы -->
    <div class="blog-slider-nav scrollable-container">
        <div class="scrollable-wrapper">
            <div class="scrollable-item">
                <a href="#" class="nav-link"><span>Все</span></a>
            </div>
            <div class="scrollable-item">
                <a href="#" class="nav-link"><span>Новости</span></a>
            </div>
            <div class="scrollable-item">
                <a href="#" class="nav-link"><span>Статьи</span></a>
            </div>
            <div class="scrollable-item">
                <a href="#" class="nav-link"><span>События</span></a>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- Слайдер -->
        <div class="swiper swiperBlogSlider">
            <div class="swiper-wrapper">
                <!-- item-01 -->
                <div class="swiper-slide">
                    <div class="blog-slide-item">
                        <div class="blog-slide-item__img">
                            <a href="#">
                                <img src="img/blog/blog-thumb-01.jpg"
                                    alt="Монохромный интерьер: 6 важных рекомендаций по оформлению пространства в одном цвете">
                            </a>
                        </div>
                        <div class="blog-slide-item__body">
                            <div class="blog-slide-item__tags">
                                <a href="#">Новости</a>
                            </div>
                            <div class="blog-slide-item__title">
                                <a href="#">Монохромный интерьер: 6 важных рекомендаций по оформлению пространства в
                                    одном цвете</a>
                            </div>
                            <div class="blog-slide-item__read-link">
                                <a href="#">Читать</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- item-02 -->
                <div class="swiper-slide">
                    <div class="blog-slide-item">
                        <div class="blog-slide-item__img">
                            <a href="#">
                                <img src="img/blog/blog-thumb-02.jpg" alt="Камень и бетон в новых коллекциях керамогранита">
                            </a>
                        </div>
                        <div class="blog-slide-item__body">
                            <div class="blog-slide-item__tags">
                                <a href="#">Акции</a>
                            </div>
                            <div class="blog-slide-item__title">
                                <a href="#">Камень и бетон в новых коллекциях керамогранита</a>
                            </div>
                            <div class="blog-slide-item__read-link">
                                <a href="#">Читать</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- item-03 -->
                <div class="swiper-slide">
                    <div class="blog-slide-item">
                        <div class="blog-slide-item__img">
                            <a href="#">
                                <img src="img/blog/blog-thumb-03.jpg"
                                    alt="ТОП-9 трендов современной планировки: что предлагают застройщики">
                            </a>
                        </div>
                        <div class="blog-slide-item__body">
                            <div class="blog-slide-item__tags">
                                <a href="#">мероприятия</a>
                            </div>
                            <div class="blog-slide-item__title">
                                <a href="#">ТОП-9 трендов современной планировки: что предлагают застройщики</a>
                            </div>
                            <div class="blog-slide-item__read-link">
                                <a href="#">Читать</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- item-04 -->
                <div class="swiper-slide">
                    <div class="blog-slide-item">
                        <div class="blog-slide-item__img">
                            <a href="#">
                                <img src="img/blog/blog-thumb-04.jpg" alt="Камень и бетон в новых коллекциях керамогранита">
                            </a>
                        </div>
                        <div class="blog-slide-item__body">
                            <div class="blog-slide-item__tags">
                                <a href="#">мероприятия</a>
                            </div>
                            <div class="blog-slide-item__title">
                                <a href="#">Камень и бетон в новых коллекциях керамогранита</a>
                            </div>
                            <div class="blog-slide-item__read-link">
                                <a href="#">Читать</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- item-05 -->
                <div class="swiper-slide">
                    <div class="blog-slide-item">
                        <div class="blog-slide-item__img">
                            <a href="#">
                                <img src="img/blog/blog-thumb-02.jpg" alt="Камень и бетон в новых коллекциях керамогранита">
                            </a>
                        </div>
                        <div class="blog-slide-item__body">
                            <div class="blog-slide-item__tags">
                                <a href="#">Акции</a>
                            </div>
                            <div class="blog-slide-item__title">
                                <a href="#">Камень и бетон в новых коллекциях керамогранита</a>
                            </div>
                            <div class="blog-slide-item__read-link">
                                <a href="#">Читать</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- item-06 -->
                <div class="swiper-slide">
                    <div class="blog-slide-item">
                        <div class="blog-slide-item__img">
                            <a href="#">
                                <img src="img/blog/blog-thumb-03.jpg"
                                    alt="ТОП-9 трендов современной планировки: что предлагают застройщики">
                            </a>
                        </div>
                        <div class="blog-slide-item__body">
                            <div class="blog-slide-item__tags">
                                <a href="#">мероприятия</a>
                            </div>
                            <div class="blog-slide-item__title">
                                <a href="#">ТОП-9 трендов современной планировки: что предлагают застройщики</a>
                            </div>
                            <div class="blog-slide-item__read-link">
                                <a href="#">Читать</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- item-07 -->
                <div class="swiper-slide">
                    <div class="blog-slide-item">
                        <div class="blog-slide-item__img">
                            <a href="#">
                                <img src="img/blog/blog-thumb-04.jpg" alt="Камень и бетон в новых коллекциях керамогранита">
                            </a>
                        </div>
                        <div class="blog-slide-item__body">
                            <div class="blog-slide-item__tags">
                                <a href="#">мероприятия</a>
                            </div>
                            <div class="blog-slide-item__title">
                                <a href="#">Камень и бетон в новых коллекциях керамогранита</a>
                            </div>
                            <div class="blog-slide-item__read-link">
                                <a href="#">Читать</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Навигация слайдера -->
            <div class="swiperBlogSlider-next">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="36" viewBox="0 0 22 36" fill="none">
                    <path
                        d="M-5.72205e-05 35.9998L21.5273 17.9998L-6.04466e-05 -7.06433e-05L-6.02164e-05 2.56847L18.4554 17.9998L-5.74506e-05 33.4312L-5.72205e-05 35.9998Z"
                        fill="white" />
                </svg>
            </div>
            <!-- Навигация слайдера -->
            <div class="swiperBlogSlider-prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="36" viewBox="0 0 22 36" fill="none"
                    style="transform: rotate(180deg);">
                    <path
                        d="M-5.72205e-05 35.9998L21.5273 17.9998L-6.04466e-05 -7.06433e-05L-6.02164e-05 2.56847L18.4554 17.9998L-5.74506e-05 33.4312L-5.72205e-05 35.9998Z"
                        fill="white" />
                </svg>
            </div>
        </div>
    </div>
</section>