<nav class="pagination-nav">
    <ul class="pagination-list">
        <li>
            <a href="#" class="pagination-item prev">
                <span class="me-2">
                    <svg width="13" height="22">
                        <use xlink:href="img/sprite.svg#menu-back"></use>
                    </svg>
                </span>
                Назад
            </a>
        </li>
        <li>
            <a href="#" class="pagination-item active">1</a>
        </li>
        <li>
            <a href="#" class="pagination-item">2</a>
        </li>
        <li>
            <a href="#" class="pagination-item">3</a>
        </li>
        <li>
            <a href="#" class="pagination-item">4</a>
        </li>
        <li>
            <a href="#" class="pagination-item">5</a>
        </li>
        <li>
            <span class="pagination-item dots">...</span>
        </li>
        <li>
            <a href="#" class="pagination-item">10</a>
        </li>
        <li>
            <a href="#" class="pagination-item next">
                Дальше
                <span class="ms-2">
                    <svg width="13" height="22">
                        <use xlink:href="img/sprite.svg#menu-arrow"></use>
                    </svg>
                </span>
            </a>
        </li>
    </ul>
</nav>