/* section-slider-featured-products ============================ */

.section-slider-featured-products {
    margin-bottom: 42px;
}

.swiper-btn-brown {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    width: 77px;
    height: 77px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    z-index: 10;
}

.swiper-btn-brown:hover {
    background-color: rgba(159, 147, 135, 0.80);
}

.swiper-btn-next {
    right: 69px;
    left: auto;
}

.swiper-btn-next svg {
    margin-left: 10px;
}

.swiper-btn-prev {
    left: 69px;
    right: auto;
}

.swiper-btn-prev svg {
    margin-right: 10px;
}

.swiper-btn-brown.swiper-button-disabled {
    opacity: 0.45;
    background-color: transparent;
}

@media (min-width: 992px) {
    .section-slider-featured-products {
        margin-bottom: 82px;
    }

    .swiper-btn-brown {
        display: flex;
    }
    
}