/* section-slider-featured-collections ============================ */

.section-slider-featured-collections {
    margin-bottom: 72px;
}

.card-ready-made-solutions {
    --bs-card-spacer-y: 22px;
    --bs-card-spacer-x: 0;
    --bs-card-border-width: 0;
}

.card-ready-made-solutions .card-top__info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 22px;
    padding: 12px 18px;
    color: #fff;
    background-color: #9F9387CC;
}

.card-ready-made-solutions .card-title {
    --bs-link-color-rgb: var(--bs-body-color-rgb);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    display: block;
    font-family: var(--bs-title-font-family);
    font-size: 28px;
    margin-bottom: 10px;
}

.card-ready-made-solutions .btn {
    --bs-btn-color: var(--bs-primary);
    --bs-btn-hover-color: var(--bs-body-color);
}

.card-ready-made-solutions .btn svg {
    margin-left: 18px;
    transition: 0.3s ease;
}

.card-ready-made-solutions .btn:hover svg {
    transform: translateX(10px);
}

.card-ready-made-solutions .btn:hover svg path {
    fill: var(--bs-body-color);
}

.card-ready-made-solutions .card-short-descr {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (min-width: 992px) {
    .section-slider-featured-collections {
        margin-bottom: 82px;
    }

    .card-ready-made-solutions .card-title {
        font-size: 32px;
    }
    
}