/* section-blog-slider ============================ */

.section-blog-slider {
    overflow: hidden;
    margin-bottom: 94px;
}

.section-blog-slider .title {
    text-align: center;
    margin-bottom: 32px;
}

.blog-slider-nav {
    --bs-nav-link-color: var(--bs-secondary);
    --bs-nav-link-hover-color: var(--bs-primary);
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
}

.blog-slider-nav .scrollable-wrapper {
    padding: 0 12px 12px;
}

.blog-slider-nav .scrollable-item:not(:last-child) {
    margin-right: 12px;
}

.blog-slider-nav .nav-link {
    font-family: var(--bs-title-font-family);
    font-size: 28px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;
}

.swiperBlogSlider {
    overflow: visible;
}

.swiperBlogSlider-next,
.swiperBlogSlider-prev {
    position: absolute;
    top: 180px;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    width: 77px;
    height: 77px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    z-index: 10;
}

.swiperBlogSlider-next:hover,
.swiperBlogSlider-prev:hover {
    background-color: rgba(159, 147, 135, 0.80);
}

.swiperBlogSlider-next.swiper-button-disabled,
.swiperBlogSlider-prev.swiper-button-disabled {
    opacity: 0.45;
    background-color: transparent;
}

.swiperBlogSlider-next {
    right: 69px;
    left: auto;
}

.swiperBlogSlider-next svg {
    margin-left: 10px;
}

.swiperBlogSlider-prev {
    left: 69px;
    right: auto;
}

.swiperBlogSlider-prev svg {
    margin-right: 10px;
}

.swiperBlogSlider .swiper-slide {
    width: 305px;
}

.blog-slide-item__img {
    height: 318px;
    overflow: hidden;
}

.blog-slide-item__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all .3s ease;
}

.blog-slide-item__body {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px 0 0;
}

.blog-slide-item__tags {
    --bs-link-color-rgb: var(--theme-light-gray-rgb);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
}

.blog-slide-item__title {
    --bs-link-color-rgb: var(--theme-black-rgb);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    font-family: var(--bs-title-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.24px;
}

.blog-slide-item__read-link {
    --bs-link-color-rgb: var(--bs-primary-rgb);
    --bs-link-hover-color-rgb: var(--bs-body-color-rgb);
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
}

@media (min-width: 576px) {
    .blog-slider-nav {
        justify-content: center;
    }

}

@media (min-width: 992px) {
    .section-blog-slider {
        margin-bottom: 82px;
    }

    .swiperBlogSlider-next,
    .swiperBlogSlider-prev {
        display: flex;
    }

    .swiperBlogSlider .swiper-slide {
        width: 345px;
    }

    .blog-slide-item__img {
        height: 360px;
    }

    .blog-slide-item__img:hover img {
        transform: scale(1.1);
    }

}