/* section-popular-products ============================ */

.section-popular-products {
    margin-bottom: 82px;
}

.section-popular-products .title {
    text-align: center;
    margin-bottom: 32px;
}

.popular-products-tab-nav {
    --bs-nav-link-color: var(--bs-secondary);
    --bs-nav-link-hover-color: var(--bs-primary);
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
}

.popular-products-tab-nav .scrollable-wrapper {
    padding: 0 12px 12px;
}

.popular-products-tab-nav .scrollable-item:not(:last-child) {
    margin-right: 12px;
}

.popular-products-tab-nav .nav-link {
    font-family: var(--bs-title-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.24px;
}

.popular-products-tab-nav .nav-link span {
    position: relative;
}

.popular-products-tab-nav .nav-link span::after {
    content: "";
    width: 0;
    position: absolute;
    border-bottom: 1px solid var(--bs-primary);
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: all .6s;
    transition-timing-function: cubic-bezier(.6,0,.4,1);
}

.popular-products-tab-nav .nav-link.active {
    color: var(--bs-primary);
    background-color: transparent;
}

.popular-products-tab-nav .nav-link.active span::after {
    width: 100%;
}

.popular-products-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 47px 34px;
}

.section-popular-products__link {
    text-align: center;
    margin-top: 32px;
}

.section-popular-products__link .btn {
    --bs-btn-font-size: 18px;
    --bs-btn-font-weight: 500;
    max-width: 352px;
    width: 100%;
    text-transform: lowercase;
}

@media (min-width: 768px) {
    .popular-products-tab-nav {
        justify-content: center;
    }

}

@media (min-width: 992px) {
    .section-popular-products__link {
        margin-top: 52px;
    }

}