/* account-widgets-info ============================ */

.account-content-widget {
    margin-bottom: 48px;

    &__title {
        margin-bottom: 24px;
    }

    p {
        margin-bottom: 8px;
    }

    h5, h6 {
        margin-top: 16px;
    }

    .list-unstyled {

        li {
            padding: 6px 0;
        }
    }
}

.users-wrapper {
    display: flex;
    flex-direction: column;
}

.item-user {
    padding: 24px 0;

    &:not(:last-of-type) {
        border-bottom: 1px solid var(--bs-border-color);
    }

    &__body {

        .row {
            align-items: center;
        }
    }

    &__title {
        font-weight: 500;
    }

    &__status {
        font-weight: 500;
    }

    &__inn {
        margin-top: 12px;
        margin-bottom: 12px;
    }

    &__info {

        p {
            margin-bottom: 8px;
        }
    }

    &__button {

        .btn:not(.collapsed) .span-show,
        .btn.collapsed .span-hide {
            display: none;
        }

        .btn:not(.collapsed) svg {
            transform: rotate(180deg);
        }
    }

    &.user-admin {

        .item-user__body {
            padding: 14px 24px;
            background-color: #F8F8F8;
        }
    }
}

/* File Upload */

.fileUpload {
    padding: 12px 0;
}

.fileUploadItem {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;

    &__icon {
        flex-shrink: 0;
    }

    &__title {
        font-size: 16px;
    }
}

// input-text-custom

.input-text-custom-sm {
    display: block;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: var(--bs-body-color);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding: 0.15rem 0.25rem;
    border-radius: 0;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
}