    <footer class="footer">
        <div class="footer-top">
            <div class="footer-top__logo">
                <a href="#">
                    <img src="img/logo.svg" alt="masterdom.ru">
                </a>
            </div>
            <div class="footer-top__contacts">
                <a href="tel:+78003503243" class="contacts-link link-phone">8 (800) 350 32 43</a>
                <a href="mail:info@gmail.com" class="contacts-link link-email">info@gmail.com</a>
                <a href="#" class="contacts-link link-cooperate">
                    <span>сотрудничать</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="16" viewBox="0 0 10 16" fill="none">
                        <path d="M0.500002 16L9.5 8L0.5 7.67558e-07L0.500001 1.90348L7.52342 8L0.500002 14.0965L0.500002 16Z" fill="#02378F"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="footer-middle">
            <div class="footer-middle__container">
                <div class="footer-middle__col">
                    <div class="footer-middle__widget">
                        <ul class="footer-middle__menu">
                            <li class="has-submenu">
                                <a href="#">Ассортимент</a>
                                <ul class="submenu">
                                    <li><a href="#">Плитка</a></li>
                                    <li><a href="#">Обои</a></li>
                                    <li><a href="#">Сантехника</a></li>
                                    <li><a href="#">Свет</a></li>
                                    <li><a href="#">Краски</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-middle__widget">
                        <ul class="footer-middle__menu">
                            <li class="has-submenu">
                                <a href="#">Услуги</a>
                                <ul class="submenu">
                                    <li><a href="#">3D визуализация</a></li>
                                    <li><a href="#">Примерка обоев</a></li>
                                    <li><a href="#">Примерка плитки</a></li>
                                    <li><a href="#">Выезд дизайнера для подбора штор</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-middle__col">
                    <div class="footer-middle__widget">
                        <ul class="footer-middle__menu">
                            <li class="has-submenu">
                                <a href="#">Покупателям</a>
                                <ul class="submenu">
                                    <li><a href="#">Доставка</a></li>
                                    <li><a href="#">Оплата</a></li>
                                    <li><a href="#">Возврат</a></li>
                                    <li><a href="#">Вопрос-ответ</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-middle__widget">
                        <ul class="footer-middle__menu">
                            <li class="has-submenu">
                                <a href="#">Блог</a>
                                <ul class="submenu">
                                    <li><a href="#">Новости</a></li>
                                    <li><a href="#">Статьи</a></li>
                                    <li><a href="#">События</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-middle__col">
                    <div class="footer-middle__widget">
                        <ul class="footer-middle__menu">
                            <li class="has-submenu">
                                <a href="#">Спецпредложения</a>
                                <ul class="submenu">
                                    <li><a href="#">Каталог товаров SALE</a></li>
                                    <li><a href="#">Программа лояльности</a></li>
                                    <li><a href="#">Акции</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-middle__col">
                    <div class="footer-middle__widget">
                        <ul class="footer-middle__menu">
                            <li><a href="#">О компании</a></li>
                            <li><a href="#">Магазины</a></li>
                            <li><a href="#">Дизайнерам</a></li>
                            <li><a href="#">Дилерам</a></li>
                            <li><a href="#">О компании</a></li>
                            <li><a href="#">Магазины</a></li>
                            <li><a href="#">Дизайнерам</a></li>
                            <li><a href="#">Дилерам</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom__wrap">
                <div class="row align-items-center" style="--bs-gutter-y: 2rem;">
                    <div class="col-lg-4">
                        <div class="footer-bottom__widget">
                            <div class="footer-bottom__menu">
                                <a href="#" class="menu-link">Политика конфиденциальности</a>
                                <a href="#" class="menu-link">Глоссарий</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 text-lg-center">
                        <div class="footer-bottom__widget">
                            <div class="d-flex gap-2 flex-wrap justify-content-lg-center">
                                <a target="_blank" href="https://t.me/masterdom_ru" class="btn btn-secondary d-flex align-items-center justify-content-center rounded-circle border-0 p-0 social-icon-link">
                                    <img src="img/footer/05-telegram.svg" loading="lazy" alt="telegram">
                                </a>
                                <a target="_blank" href="https://vk.com/masterdom" class="btn btn-secondary d-flex align-items-center justify-content-center rounded-circle border-0 p-0 social-icon-link">
                                    <img src="img/footer/02-vk.svg" loading="lazy" alt="vk">
                                </a>
                                <a target="_blank" href="https://dzen.ru/masterdom_ru" class="btn btn-secondary d-flex align-items-center justify-content-center rounded-circle border-0 p-0 social-icon-link">
                                    <img src="img/footer/01-dzen.svg" loading="lazy" alt="dzen">
                                </a>
                                <a target="_blank" href="https://ru.pinterest.com/wwwmasterdomru" class="btn btn-secondary d-flex align-items-center justify-content-center rounded-circle border-0 p-0 social-icon-link">
                                    <img src="img/footer/03-pinterest.svg" loading="lazy" alt="pinterest">
                                </a>
                                <a target="_blank" href="https://www.youtube.com/channel/UC6Nyd-B1X5f5jkJkCC-MYVw" class="btn btn-secondary d-flex align-items-center justify-content-center rounded-circle border-0 p-0 social-icon-link">
                                    <img src="img/footer/06-youtube.svg" loading="lazy" alt="youtube">
                                </a>
                                <a target="_blank" href="https://rutube.ru/channel/33528692/" class="btn btn-secondary d-flex align-items-center justify-content-center rounded-circle border-0 p-0 social-icon-link">
                                    <img src="img/footer/04-rutube.svg" loading="lazy" alt="rutube">
                                </a>
                                <a target="_blank" href="https://wa.me/79778328917" class="btn btn-secondary d-flex align-items-center justify-content-center rounded-circle border-0 p-0 social-icon-link">
                                    <img src="img/footer/07-watsapp.svg" loading="lazy" alt="whatsapp">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 text-lg-end">
                        <div class="footer-bottom__widget">
                            <img class="img-fluid img-payment" src="img/footer/footer-payment-01.webp" alt="Оплата">
                        </div>
                    </div>
                </div>
                <div class="row" style="--bs-gutter-y: 2rem;">
                    <div class="col-lg-4">
                        <div class="footer-bottom__widget">
                            <div class="footer-bottom__copyright">© 2023, <a href="#">«Мастер Дом»</a> <a href="mailto:shop@masterdom.ru">shop@masterdom.ru</a></div>
                        </div>
                    </div>
                    <div class="col-lg-4 text-lg-center">
                        <div class="footer-bottom__widget">
                            <div class="footer-bottom__copyright">ИП Цыпкин Александр Владимирович, ИНН: 772318769317, ОГРНИП: 317774600218206, ГРНИП 317774600218206 от 03.05.2017 г.</div>
                        </div>
                    </div>
                    <div class="col-lg-4 text-lg-end">
                        <div class="footer-bottom__widget">
                            <img src="img/footer/ya-rating.svg" alt="ya-rating">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- MODALS -->

    <!-- Модалка "Поиск" -->
    <div class="fancybox-custom-modal" id="search-modal">
        <div class="search-modal__container">
            <p class="h5 search-modal__title">Поиск</p>
            <div class="search-modal__form-wrapper">
                <form class="form-search" action="#">
                    <input type="text" class="form-control" placeholder="Белая плитка">
                    <button type="submit" class="btn form-search__btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
                            <g>
                                <path class="path-stroke-dynamic" d="M10 19C14.9706 19 19 14.9706 19 10C19 5.02943 14.9706 1 10 1C5.02943 1 1 5.02943 1 10C1 14.9706 5.02943 19 10 19Z" stroke="#7C7D80" stroke-width="1.18421" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path class="path-stroke-dynamic" d="M21.999 21.9995L16.3867 16.4121" stroke="#7C7D80" stroke-width="1.18421" stroke-linecap="round" stroke-linejoin="round"></path>
                            </g>
                        </svg>
                    </button>
                </form>
            </div>
            <div class="search-modal__similar-queries">
                <p class="h6 search-modal__similar-queries-title">Похожее по запросу</p>
                <ul class="search-modal__similar-queries-list">
                    <li><a href="#">Керамогранит Onix One 60x120 Fancy Grey Polished</a></li>
                    <li><a href="#">Похожее по запросу</a></li>
                    <li><a href="#">Керамогранит Onix One 60x120 Fancy Grey Polished</a></li>
                    <li><a href="#">Похожее по запросу</a></li>
                    <li><a href="#">Керамогранит Onix One 60x120 Fancy Grey Polished</a></li>
                    <li><a href="#">Похожее по запросу</a></li>
                    <li><a href="#">Керамогранит Onix One 60x120 Fancy Grey Polished</a></li>
                    <li><a href="#">Похожее по запросу</a></li>
                    <li><a href="#">Керамогранит Onix One 60x120 Fancy Grey Polished</a></li>
                    <li><a href="#">Похожее по запросу</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Модалка "Выбор города" -->
    <div class="fancybox-custom-modal" id="city-selector-modal">
        <div class="city-selector__container">
            <p class="h5 city-selector__title">Выберете город</p>
            <div class="city-selector__input-wrapper">
                <form class="form-city-selector" action="#">
                    <input type="text" class="form-control" placeholder="Найти город">
                    <button type="submit" class="btn form-city-selector__btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
                            <g>
                                <path class="path-stroke-dynamic" d="M10 19C14.9706 19 19 14.9706 19 10C19 5.02943 14.9706 1 10 1C5.02943 1 1 5.02943 1 10C1 14.9706 5.02943 19 10 19Z" stroke="#7C7D80" stroke-width="1.18421" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path class="path-stroke-dynamic" d="M21.999 21.9995L16.3867 16.4121" stroke="#7C7D80" stroke-width="1.18421" stroke-linecap="round" stroke-linejoin="round"></path>
                            </g>
                        </svg>
                    </button>
                </form>
            </div>
            <div class="city-selector__popular-cities">
                <p class="h6 city-selector__popular-cities-title">Популярные города</p>
                <ul class="city-selector__popular-cities-list">
                    <li><a href="#">Город 1</a></li>
                    <li><a href="#">Город 2</a></li>
                    <li><a href="#">Город 3</a></li>
                    <li><a href="#">Город 4</a></li>
                    <li><a href="#">Город 5</a></li>
                    <li><a href="#">Город 6</a></li>
                    <li><a href="#">Город 7</a></li>
                    <li><a href="#">Город 8</a></li>
                    <li><a href="#">Город 9</a></li>
                    <li><a href="#">Город 10</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- SCRIPTS -->
    
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/swiper-bundle.min.js"></script>
    <script src="js/fancybox.umd.js"></script>
    <script src="js/main.js"></script>