/* section-categories-circles ============================ */

.section-categories-circles {
    overflow: hidden;
    margin-bottom: 52px;
}

.section-categories-circles .title {
    text-align: center;
    font-weight: 400;
    text-transform: none;
    margin-bottom: 32px;
}

.swiperCategoriesCircles-container {
    position: relative;
    max-width: 1040px;
    margin: 0 auto;
}

.swiperCategoriesCircles-next,
.swiperCategoriesCircles-prev {
    position: absolute;
    top: 35%;
    transform: translateY(0);
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.swiperCategoriesCircles-next {
    right: -54px;
    left: auto;
}

.swiperCategoriesCircles-prev {
    left: -54px;
    right: auto;
}

.swiperCategoriesCircles .swiper-slide {
    width: 143px;
}

.swiperCategoriesCircles-next.swiper-button-disabled,
.swiperCategoriesCircles-prev.swiper-button-disabled {
    display: none;
}

.categories-circles__item {
    --bs-link-color-rgb: var(--bs-secondary-rgb);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.categories-circles__img {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--bs-primary);
}

/* .categories-circles__img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    box-shadow: inset 0 0 0 4px #fff;
} */

.categories-img-border {
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #fff;
}

.categories-circles__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all .3s ease;
}

.categories-circles__item:hover img {
    transform: scale(1.1);
}

.categories-circles__overlay {
    position: absolute;
    top: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
    opacity: 0;
    background-color: #fff;
    z-index: 5;
    transition: .3s ease;
}

.categories-circles__item:hover .categories-circles__overlay {
    top: 0;
    opacity: 1;
}

.categories-circles__title {
    text-align: center;
    font-family: var(--bs-title-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 90%;
    letter-spacing: 0.24px;
}

@media (min-width: 992px) {
    .swiperCategoriesCircles-next,
    .swiperCategoriesCircles-prev {
        display: flex;
    }

    .swiperCategoriesCircles .swiper-slide {
        width: 182px;
    }

}